 {% load static %}
 <!-- Navbar Menu Desktop --> 
 <nav class="navbar navbar-expand-lg desktop-navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand brand-area pt-0 pb-0" href="/">
                <img src="{% static 'frontend/storage/logo/Lombokbarat.png' %}" alt="" class="img-fluid logo-home">
                <div class="brand-text">
                    <div class="subtitle">PEJABAT PENGELOLA INFORMASI DAN DOKUMENTASI</div>
                    <div class="title">KABUPATEN LOMBOK BARAT</div>
                    <div class="address">Jl. Soekarno - Hatta, Giri Menang, Gerung,</div>
                    <div class="address">Kabupaten Lombok Barat, <br>Nusa Tenggara Barat 83363</div>
                </div>
            </a>
        </div> 
        <div id="ShowMenuMobile" class="navbar-toggler">
            <i class="fa fa-bars text-white" aria-hidden="true"></i>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarDesktop">
            <ul class="navbar-nav">
                {% for n in menu %}
                <li 
                {% if n.nama|lower in activeMenuList %} 
                    class="active 
                        {% if n.haveChild == 1  %}
                            nav-item dropdown
                        {% else %}
                         nav-item
                        {% endif %}" 
                {% else %}
                    class="{% if n.haveChild == 1 and n.parent_id is not None %} 
                    nav-item dropdown 
                    {% else %}
                    nav-item dropdown 
                    {% endif %}" 
                {% endif %}
            >
            {% if n.href is None %}
                <a class="nav-link" href="#" >{{ n.nama }} </a>
            {% elif n.href == '#' or n.href == '/' or n.href == '' %}
                {% if '://' in n.href %}
                    <a target=_blank href="{{n.href}}" >{{ n.nama }}</a>
                {% else %}
                    <a href="{{n.href}}">{{ n.nama }}<i class="fa fa-angle-down"></i></a>
                {% endif %}
            {% else %}
                {% if '://' in n.href %}
                    <a target=_blank href="{{n.href}}" >{{ n.nama }}</a>
                {% else %}
                    <a href="/{{n.href}}" >{{ n.nama }}</a> 
                {% endif %}
            {% endif %}
          
            {% if n.haveChild == 1 %} <ul> {% else %} </li> {% endif %} 						
            {% if n.haveChildEndTag > 0 %} 
                {% if n.haveChildEndTag >= 3 %} </ul></li> {% endif %}
                {% if n.haveChildEndTag >= 2 %} </ul></li> {% endif %}
                {% if n.haveChildEndTag >= 1 %} </ul></li> {% endif %}        
            {% endif %}
            

        {% endfor %}	
            </ul>
            
        </div>
     
    </div>
</nav>
      <!-- Sidebar Menu Mobile -->
<div id="mySidenav" class="sidenav">
    <div class="container-fluid">
        <div class="closebtn text-gold" id="CloseMenuMobile">
            <svg width="15" height="15" viewBox="0 0 16 16">
                <path fill="#FFF" fill-rule="evenodd"
                    d="M16 1.622L9.622 8 16 14.378 14.378 16 8 9.622 1.622 16 0 14.378 6.378 8 0 1.622 1.622 0 8 6.378 14.378 0z">
                </path>
            </svg>
        </div>
        <div class="mt-2 mb-2 text-center">
            <img src="{% static 'frontend/storage/logo/uUIxmtvsTklOEEaR8YXMSJhLsCUxO7cNVszNL5kW.png' %}" width="40" class="img-fluid" alt="">
            <div class="brand-text brand-mobile">
                <div class="subtitle">PEJABAT PENGELOLA INFORMASI DAN DOKUMENTASI (PPID)</div>
                <div class="title">KABUPATEN LOMBOK BARAT</div>
                <div class="address">Jl. Soekarno - Hatta, Giri Menang, Gerung,</div>
                <div class="address">Kabupaten Lombok Barat, Nusa Tenggara Bar. 83363</div>
            </div>
        </div>
        <ul class="navbar-nav-mobile m-t-40">
            {% for n in menu %}
            <li class="">
            {% if n.href is None %}
            <a class="nav-link" href="#" >{{ n.nama }}</a>
            {% elif n.href == '#' or n.href == '/' or n.href == '' %}
                {% if '://' in n.href %}
                    <a target=_blank href="{{n.href}}" >{{ n.nama }}</a>
                {% else %}
                    <a href="{{n.href}}">{{ n.nama }}</a>
                {% endif %}
            {% else %}
                {% if '://' in n.href %}
                    <a target=_blank href="{{n.href}}" >{{ n.nama }}</a>
                {% else %}
                    <a href="/{{n.href}}" >{{ n.nama }}</a> 
                {% endif %}
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        <hr>
        <div class="d-flex-center">
           <div class="text-white mr-3 ml-3">Pencarian Data</div>
            <a class="search-icon-btn" href="javascript:void(0)">
                <p class="mb-0"><i class="fa fa-search text-white" aria-hidden="true"></i></p>
            </a>
        </div>
    </div>
</div>  