{% load static %}
<script type="text/javascript" src="{% static 'frontend/assets_v1/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets_v1/vendor/popper/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets_v1/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% comment %} <script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/Chart.js' %}/2.8.0/Chart.bundle.min.js' %}"></script>
<script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/Chart.js' %}/2.8.0/Chart.min.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'frontend/assets_v1/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/assets_v1/js/sidebar-mobile.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/app.js' %}"></script>


<!-- Vendor JS Files -->
<script src="{% static 'frontend/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'frontend/assets/js/main.js' %}"></script>