{% load static %}
<header id="headerSection" class="home-section">
    <div id="SliderHeader" class="carousel slide" data-ride="carousel" data-interval="3000">
        {% for s in slide %}
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="dark-img">
                    <img class="d-block w-100 h-100" src="{{ s.image_url1|default_if_none:'/static/imgnotfound/slide.png' }}" alt="Hak Anda Untuk Tahu!">
                </div>
                <div class="carousel-caption container d-flex align-items-center">
                    <div class="text-block">
                        {% comment %} <h5>Hak Anda Untuk Tahu!</h5> {% endcomment %}
                        {% comment %} <p>{{ s.description }}</p>   {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="dark-img">
                    <img class="d-block w-100 h-100" src="{{ s.image_url2|default_if_none:'/static/imgnotfound/slide.png' }}" alt="">
                </div>
                <div class="carousel-caption container d-flex align-items-center">
                    <div class="text-block">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="container w-100">
            <a class="carousel-control-prev" href="#SliderHeader" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#SliderHeader" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>