<div class="d-flex align-items-center mb-4">
    <div class="icon-circle rgba-blue">
        <i class="fa fa-bar-chart text-primary" aria-hidden="true"></i>
    </div>
    <p class="text-default font-600 mb-0">Statistik</p>
</div>
<div class="card mb-4">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
        <p class="text-default font-600 mb-0">Berkala</p>
        <p class="mb-0">{{ dip1_count}}</p>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
        <p class="text-default font-600 mb-0">Serta Merta</p>
        <p class="mb-0">{{ dip2_count }}</p>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
        <p class="text-default font-600 mb-0">Setiap Saat</p>
        <p class="mb-0">{{ dip3_count }}</p>
    </div>
    <hr>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
        <p class="text-primary font-600 mb-0">Total Informasi Publik</p>
        <p class="mb-0">{{ dip_count }}</p>
    </div>
</div>