{% load static %}
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets_v1/vendor/bootstrap/css/bootstrap.min.css' %} ">
<!-- Font Awesome -->
<!-- Chart -->
{% comment %} <link rel="stylesheet" type="text/css" href="../cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css' %} "> {% endcomment %}
<!-- Main Style -->
<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets_v1/css/main.css' %} ">
<link rel="stylesheet" href="{% static 'frontend/fontawesome-free/css/all.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'frontend/assets_v1/vendor/font-awesome/css/font-awesome.min.css' %} ">

 <link href="{% static 'frontend/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

 <link href="{% static 'frontend/assets/css/variables.css' %}" rel="stylesheet">


 <!-- Template Main CSS File -->
 <link href="{% static 'frontend/assets/css/main.css' %}" rel="stylesheet">

