<div class="top-notif d-none d-md-block">
    <div class="container">
        <div class="content-section">
            <ul class="list-menu">
                <li>
                    <a target="_blank" href="https://www.facebook.com/ppid.lobar"><i class="fa fa-facebook-square social" aria-hidden="true"></i> Facebook</a>
                </li>
                <li>
                    <a target="_blank" href="#"><i class="fa fa-instagram social" aria-hidden="true"></i> Instagram</a>
                </li>
            </ul>
            <div class="component">
                <ul class="social-media">
                    <li>
                        <a  class="search-icon-btn" href="javascript:void(0)"><i class="fa fa-search social" aria-hidden="true"></i> Pencarian Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>    