{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Bootstrap Website Templates">

	<title>PAGE NOT FOUND</title>

	<!-- Bootstrap Core CSS -->	
	<link href="{% static '404/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Theme CSS -->
	<link href="{% static '404/css/style.css' %}" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body>

	<div class="container text-center">
		<div class="brand">
			<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
			<h3 class="text-uppercase">PAGE NOT FOUND</h3>
		</div>
		<h1 class="head"><span>404</span></h1>
		<p>Oops! The Page you requested was not found!</p>
		<a href="{% url 'dashboard'%}" class="btn-outline"> Back to Dashboard</a>
	</div>

    <!-- jQuery -->
    <script src="{% static '404/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '404/js/bootstrap.min.js' %}"></script>
    <!-- Theme JavaScript -->
    <script src="{% static '404/js/script.js' %}"></script>

</body>
</html>	