{% load static %}
<html lang="en">
    {% include "account/snippet/head.html" %} 
    {% block css%}
    {% endblock %}

     <style type="text/css">
        {% block style %}
        {% endblock %}
    </style>
    
    <body id="page-top"
    	{% include "account/snippet/loader.html" %} 
        <div class="page">
    		{% include "account/snippet/header.html" %} 
            <!-- Begin Page Content -->
            <div class="page-content d-flex align-items-stretch">
    			{% include "account/snippet/sidebar.html" %} 
                {% block content %}
				
				{% endblock %}
            </div>
            <!-- End Page Content -->
        </div>
    	{% include "account/snippet/scripts.html" %} 
        <script src="https://code.responsivevoice.org/responsivevoice.js?key=4roX7m1r"></script>
        <script src="https://web.animemusic.us/widget_disabilitas.js"></script>
        
    </body>
    {% block js%}
    {% endblock %}
    
	<script>
	{% block script %}
	{% endblock %}
	</script>
</html>