{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Add Menu</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'menu' %}">Daftar Menu</a></li>
                            <li class="breadcrumb-item active">Add Menu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Oops!</strong> There were some errors with your submission.
                <ul>
                {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error}}</li>
                {% endfor %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Form Add</h4>
                    </div>
                    <div class="widget-body">
                        <form class="needs-validation" method="POST" novalidate>
                                {% csrf_token %}
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Pilih Site</label>
                                <div class="col-lg-5">
                                    {{form.site}}
                                    <div class="invalid-feedback">
                                        Silahkan Pilih Site (Harus Diisi)
                                   </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Parent</label>
                                <div class="col-lg-5">
                                    {{form.parent}}
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Nama Menu</label>
                                <div class="col-lg-5">
                                    {{form.nama}}
                                    <div class="invalid-feedback">
                                         Nama Menu Harus DiIsi (Harus Diisi)
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Icon</label>
                                <div class="col-lg-5">
                                    {{ form.icon }}
                                    <div class="invalid-feedback">
                                        Please enter a descripton
                                        <div class="valid-feedback">
                                            Optional (Bisa Diisi atau Dikosongkan)
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Urutan Menu</label>
                                <div class="col-lg-5">
                                    <div class="select">
                                        {{ form.order_menu }}
                                        <div class="invalid-feedback">
                                            Optional (Bisa Diisi atau Dikosongkan)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Tampilkan Menu</label>
                                <div class="col-lg-5">
                                    <div class="custom-control custom-checkbox styled-checkbox">
                                        {{ form.is_visibled }}
                                        <label class="custom-control-descfeedback" for="check-1"></label>
                                        <div class="invalid-feedback">
                                            Tick me please!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} {{ form.size }} {% endcomment %}
                            <div class="text-right">
                                <button class="btn btn-gradient-01" type="submit" name="Submit" >Save</button>
                                <button class="btn btn-shadow" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'assets/vendors/js/nicescroll/nicescroll.min.js' %}"></script>
<script src="{% static 'assets/js/components/validation/validation.min.js' %}"></script>

{% endblock %}

{% block script %}

(function ($) {

    'use strict';

    // ------------------------------------------------------- //
    // Bootstrap Validation
    // ------------------------------------------------------ //	
	(function () {
		'use strict';
		window.addEventListener('load', function () {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function (form) {
				form.addEventListener('submit', function (event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}else {
					var fileInput = form.querySelector('input[name="file"]');
					if (!fileInput.files[0]) {
						fileInput.classList.add('is-invalid');
						event.preventDefault();
						event.stopPropagation();
					}
				}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();

})(jQuery);

{% endblock %}