{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Add Data</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Daftar DIP</a></li>
                            <li class="breadcrumb-item active">Add Data</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Form Add</h4>
                    </div>
                    <div class="widget-body">
                        <form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Kode DIP</label>
                                <div class="col-lg-5">
                                {% for error in form.code.errors %}
                                    <div class="alert alert-danger alert-dissmissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                        <strong>{{ error }}</strong>
                                    </div>
                                {% endfor %}
                                    {{form.code}}

                                    <datalist id="kodelist">
                                        {% for d in kodelist %}
                                            <option value="{{ d.code }}"></option>
                                        {% endfor %}
                                    </datalist>

                                    <div class="invalid-feedback">
                                        Isi Kode DIP (Harus Diisi)
                                   </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Judul DIP</label>
                                <div class="col-lg-5">
                                    {{form.title}}
                                    <div class="invalid-feedback">
                                         Isi Judul DIP (Harus Diisi)
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Penanggung Jawab Penerbitan</label>
                                <div class="col-lg-5">
                                    {{form.responsible }}
                                    <div class="invalid-feedback">
                                        Isi Penanggung Jawab (Harus Diisi)
                                   </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Deksripsi DIP</label>
                                <div class="col-lg-5">
                                    {{ form.information }}
                                    <div class="invalid-feedback">
                                        Please enter a descripton
                                        <div class="valid-feedback">
                                            Optional (Bisa Diisi atau Dikosongkan)
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Tipe Data</label>
                                <div class="col-lg-5">
                                    <div class="select">
                                        {{ form.type_data }}
                                        <div class="invalid-feedback">
                                            Pilih Type Data (Harus Dipilih)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">File DIP</label>
                                <div class="col-lg-5">
                                 {% for error in form.file.errors %}
                                    <div class="alert alert-danger alert-dissmissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                        <strong>{{ error }}</strong>
                                    </div>
                                {% endfor %}
                                   {{ form.file }}
                                   <div class="invalid-feedback">
                                        Upload File DIP (Harus Diupload)
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Refrensi Arsip - Mulai</label>
                                <div class="col-lg-5">
                                   {{ form.date_a }}
                                    <div class="valid-feedback">
                                        Optional (Bisa Diisi atau Dikosongkan)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Refrensi Arsip - Sampai</label>
                                <div class="col-lg-5">
                                   {{ form.date_b }}
                                   <div class="valid-feedback">
                                        Optional (Bisa Diisi atau Dikosongkan)
                                    </div>
                                </div>
                            </div>
                            {% comment %} {{ form.size }} {% endcomment %}
                            <div class="text-right">
                                <button class="btn btn-gradient-01" type="submit" name="Submit" >Save</button>
                                <button class="btn btn-shadow" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'assets/vendors/js/nicescroll/nicescroll.min.js' %}"></script>
<script src="{% static 'assets/js/components/validation/validation.min.js' %}"></script>

{% endblock %}

{% block script %}

(function ($) {

    'use strict';

    // ------------------------------------------------------- //
    // Bootstrap Validation
    // ------------------------------------------------------ //	
	(function () {
		'use strict';
		window.addEventListener('load', function () {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function (form) {
				form.addEventListener('submit', function (event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}else {
					var fileInput = form.querySelector('input[name="file"]');
					if (!fileInput.files[0]) {
						fileInput.classList.add('is-invalid');
						event.preventDefault();
						event.stopPropagation();
					}
				}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();

})(jQuery);

{% endblock %}