{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="content-inner">
	<div class="container-fluid">
		<!-- Begin Page Header-->
		<div class="row">
			<div class="page-header">
				<div class="d-flex align-items-center">
					<h2 class="page-header-title">DIP</h2>
					<div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item active">Daftar DIP</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<div class="alert bg-gradient-03 no-border" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
						<strong>[BERHASIL]</strong> {{ message }}
					</div>        
				{% endfor %}
			</ul>
		{% endif %}
                           
		<div class="row">
			<div class="col-xl-12">
				<!-- Sorting -->
				<div class="widget has-shadow">
					<div class="widget-header bordered no-actions">
						<h4>DIP</h4>
					<a style="float:right" type="button" href="{% url 'create'%}" class="btn btn-secondary mr-1 mb-2"><i class="la la-rocket"></i>Tambah DIP</a>
					</div>
					<div class="widget-body">
						<div class="table-responsive">
							<table id="export-table" class="table mb-0">
								<thead>
									<tr>
										<th>Kode DIP</th> 
										<th>Judul DIP</th> 
										<th>SKPD</th> 
										<th>Tanggal</th> 
									</tr>
								</thead>
								<tbody>
								{% for datas in data %}
									<tr>
										<td><span class="badge-text badge-text-small info">{{ datas.code}}</span></td>
										<td><span class="text-primary">{{ datas.title }}</span></td>
										<td><span class="text-primary">{{ datas.dinas }}</span></td>
										<td><span class="text-primary">{{ datas.date}}</span></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- End Sorting -->
			</div>
		</div>
		<!-- End Row -->
	</div>
	<!-- End Container -->

	<a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
</div>
<!-- End Content -->

{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'assets/css/datatables/datatables.min.css' %}">
<!-- Begin Page Vendor Js -->
<script src="{% static 'assets/vendors/js/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/components/notifications/notifications.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block script %}
(function ($) {
    'use strict';

    $(document).ready(function () {
        $('#sorting-table').DataTable({
            "lengthMenu": [
                [10, 15, 20, -1],
                [10, 15, 20, "All"]
            ],
            "order": [
                [4, "desc"]
            ]
        });

        $('#export-table').DataTable({
            dom: 'Bfrtip',
            buttons: {
                buttons: [{
                    extend: 'copy',
                    text: 'Copy',
                    title: $('h1').text(),
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true
                },{
                    extend: 'excel',
                    text: 'Excel',
                    title: $('h1').text(),
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true
                },{
                    extend: 'csv',
                    text: 'Csv',
                    title: $('h1').text(),
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true
                },{
                    extend: 'pdf',
                    text: 'Pdf',
                    title: $('h1').text(),
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true
                },{
                    extend: 'print',
                    text: 'Print',
                    title: $('h1').text(),
                    exportOptions: {
                        columns: ':not(.no-print)'
                    },
                    footer: true,
                    autoPrint: true
                }],
                dom: {
                    container: {
                        className: 'dt-buttons'
                    },
                    button: {
                        className: 'btn btn-primary'
                    }
                }
            }
        });

        document.querySelectorAll(".delete-button").forEach(function(button) {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                let dataId = this.getAttribute("data-id");
                Swal.fire({
                    title: 'Apakah Kamu Yakin Akan Hapus Data ini?',
                    text: "Data yang sudah dihapus tidak dapat dikembalikan lagi",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#08a6c3',
                    cancelButtonColor: '#fe195e',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        let deleteForm = document.createElement("form");
                        deleteForm.setAttribute("method", "POST");
                        deleteForm.setAttribute("action", `/delete-data/${dataId}`);
                        let csrfInput = document.createElement("input");
                        csrfInput.setAttribute("type", "hidden");
                        csrfInput.setAttribute("name", "csrfmiddlewaretoken");
                        csrfInput.setAttribute("value", "{{ csrf_token }}");
                        deleteForm.appendChild(csrfInput);
                        document.body.appendChild(deleteForm);
                        deleteForm.submit();
                    }
                });
            });
        });
    });
})(jQuery);
{% endblock %}


