{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Informasi Data Pemohon</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Permohonan DIP</a></li>
                            <li class="breadcrumb-item active">Proses Pengecekan Data</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Form Pengecekan Data Pemohon</h4>
                    </div>
                    <div class="widget-body">
                        <form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Nama</label>
                                <div class="col-lg-5">
                                    {{form.name}}
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Alamat</label>
                                <div class="col-lg-5">
                                    {{form.address}}
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Telp</label>
                                <div class="col-lg-5">
                                    <div class="input-group">
                                        <span class="input-group-addon addon-primary">
                                            <i class="la la-phone"></i>
                                        </span>
                                        {{form.telp}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Email Address *</label>
                                <div class="col-lg-5">
                                    <div class="input-group">
                                        {{ form.email }}
                                        <span class="input-group-addon addon-orange">.com</span>
                                        <div class="invalid-feedback">
                                            Please enter a valid email
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Tujuan</label>
                                <div class="col-lg-5">
                                    {{ form.purpose }}
                                    <div class="invalid-feedback">
                                        Please enter a purpose
                                    </div>
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Detail Permohonan</label>
                                <div class="col-lg-5">
                                    {{ form.detail }}
                                    <div class="invalid-feedback">
                                        Please enter a purpose
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">File DIP</label>
                                <div class="col-lg-5">
                                    
                                  {% for s in show1 %}
                                    <img src="{{s.ktp.url}}"style="width: 20%"> <hr>
                                    <div class="submit_link">
                                        <a href="{{s.ktp.url}}" class="btn btn-primary" >Full View</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                             <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Kategori Pemohon</label>
                                <div class="col-lg-5">
                                    {% for s in show1 %}
                                    <input type="text" class="form-control" readonly value="{{ s.kategory_pemohon }}">
                                    {% endfor %}
                                    {{ form.kategory_pemohon }}
                                </div>
                            </div>
                              <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Keinginan</label>
                                <div class="col-lg-5">
                                    {% for s in show1 %}
                                        <input type="text" class="form-control" readonly value="{{ s.action }}">
                                    {% endfor %}
                                    {{ form.action }}

                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Status</label>
                                <div class="col-lg-5">
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <label class="col-lg-4 form-control-label d-flex justify-content-lg-end">Keterangan</label>
                                <div class="col-lg-5">
                                    {{ form.Information }}
                                    <div class="invalid-feedback">
                                        Please enter a purpose
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-gradient-01" type="submit" name="Submit" >Save</button>
                                <button class="btn btn-shadow" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'assets/vendors/js/nicescroll/nicescroll.min.js' %}"></script>
<script src="{% static 'assets/js/components/validation/validation.min.js' %}"></script>

{% endblock %}

{% block script %}

(function ($) {

    'use strict';

    // ------------------------------------------------------- //
    // Bootstrap Validation
    // ------------------------------------------------------ //	
	(function () {
		'use strict';
		window.addEventListener('load', function () {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function (form) {
				form.addEventListener('submit', function (event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();

})(jQuery);

{% endblock %}