{% extends "account/base.html" %}
{% load static %}
{% block content %}
<!-- start Content -->
<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Dashboard</h2>
                    <div>
                    <div class="page-header-tools">
                        <a class="btn btn-gradient-01" target="_blank" href="/">View Website</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <!-- Begin Facebook -->
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="ion-briefcase text-facebook"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-twitter">Total</div>
                                <div class="number">{{ dip_count }} Data</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Facebook -->
             <!-- Begin Twitter -->
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="ion-aperture text-facebook"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-twitter">Serta Merta</div>
                                <div class="number">{{ dip2_count }} Data</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Twitter -->
            <!-- Begin Twitter -->
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="ion-laptop text-facebook"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-twitter">Berkala</div>
                                <div class="number">{{ dip1_count }} Data</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Twitter -->
            <!-- Begin Linkedin -->
            <div class="col-xl-3 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="ion-map text-facebook"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-linkedin">Setiap saat</div>
                                <div class="number">{{ dip3_count }} Data</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Linkedin -->
        </div>
		<div class="row">
			<div class="col-xl-12">
				<!-- Sorting -->
				<div class="widget has-shadow">
					<div class="widget-header bordered no-actions">
						{% for nama in nama_dinas %}
						<h4>LAPORAN DATA {{ nama }} </h4>
						{% endfor %}
					</div>
					<div class="widget-body">
						<div class="table-responsive">
							<table id="sorting-table" class="table mb-0">
								<thead>
									<tr>
										<th>Tahun</th> 
										<th>Bulan</th> 
										<th>Jumlah SKPD</th> 
									</tr>
								</thead>
								<tbody>
								{% for data in dip_count_by_year_month %}
									<tr>
										<td><span class="badge-text badge-text-small info">{{ data.year}}</span></td>
										<td><span class="text-primary">{{ data.month }}</span></td>
										<td><span class="text-primary">{{ data.count}}</span></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- End Sorting -->
			</div>
		</div>

		{% comment %} <h1>Total Counts</h1>
    <p>Total View Count: {{ total_view_count }}</p>
    <p>Total Download Count: {{ total_download_count }}</p> {% endcomment %}
        <!-- End Row -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <div class="col-xl-12 col-md-6">
                <!-- Begin Widget 09 -->
                <div class="widget widget-09 has-shadow">
                    <!-- Begin Widget Header -->
                    <div class="widget-header d-flex align-items-center">
                        <h2>Grafik Data</h2>
                    </div>
                    <!-- End Widget Header -->
                    <!-- Begin Widget Body -->
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-xl-10 col-12 no-padding">
								<div class="chart">
									<canvas id="pie-chart"></canvas>
								</div>
                            </div>
                            <div class="col-xl-2 col-12 d-flex flex-column my-auto no-padding text-center">
                                <div class="new-orders">
                                    <div class="title">Total Data</div>
                                    <div class="circle-orders">
                                        <div class="percent-orders"></div>
                                    </div>
                                </div>
                                <div class="some-stats mt-5">
                                    <div class="title">Total Data Serta Merta</div>
                                    <div class="number text-blue">{{ dip2_count }}</div>
                                </div>
                                <div class="some-stats mt-3">
                                    <div class="title">Total Data Berkala</div>
                                    <div class="number text-blue">{{ dip1_count }}</div>
                                </div>
								 <div class="some-stats mt-3">
                                    <div class="title">Total Data Setiap Saat</div>
                                    <div class="number text-blue">{{ dip3_count }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Widget 09 -->
            </div>
        </div>
        <!-- End Row -->
        <!-- Begin Row -->
    </div>
    <!-- End Container -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
</div>
<!-- End Content -->

{% endblock %}

{% block js %}
<!-- Begin Page Vendor Js -->

<script src="{% static 'assets/vendors/js/chart/chart.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/progress/circle-progress.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/datatables/datatables.min.css' %}">

 <!-- Begin Page Vendor Js -->
 <script src="{% static 'assets/vendors/js/datatables/datatables.min.js' %}"></script>
 <script src="{% static 'assets/vendors/js/datatables/dataTables.buttons.min.js' %}"></script>
 <script src="{% static 'assets/vendors/js/datatables/jszip.min.js' %}"></script>
 <script src="{% static 'assets/vendors/js/datatables/buttons.html5.min.js' %}"></script>
 <script src="{% static 'assets/vendors/js/datatables/pdfmake.min.js' %}"></script>
 <script src="{% static 'assets/vendors/js/datatables/vfs_fonts.js' %}"></script>
 <script src="{% static 'assets/vendors/js/datatables/buttons.print.min.js' %}"></script>
 <!-- End Page Vendor Js -->

<!-- End Page Vendor Js -->
{% endblock %}

{% block script %}


(function ($) {

	'use strict';

	// ------------------------------------------------------- //
	// Auto Hide
	// ------------------------------------------------------ //	

	$(function () {
		$('#sorting-table').DataTable({
			"lengthMenu": [
				[10, 15, 20, -1],
				[10, 15, 20, "All"]
			],
			"order": [
				[0, "desc"]
			]
		});
	});

	$(function () {
		$('#export-table').DataTable({
			dom: 'Bfrtip',
			buttons: {
				buttons: [{
					extend: 'copy',
					text: 'Copy',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'excel',
					text: 'Excel',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'csv',
					text: 'Csv',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'pdf',
					text: 'Pdf',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'print',
					text: 'Print',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true,
					autoPrint: true
				}],
				dom: {
					container: {
						className: 'dt-buttons'
					},
					button: {
						className: 'btn btn-primary'
					}
				}
			}
		});
	});

})(jQuery);


// ------------------------------------------------------- //
// Pie Chart
// ------------------------------------------------------ //	
var ctx = document.getElementById("pie-chart").getContext('2d');

var myChart = new Chart(ctx, {
	type: 'pie',
	data: {
		labels: ["Berkala", "Serta Merta", "Setiap Saat"],
		datasets: [{
			label: "Label",
			backgroundColor: ["#08a6c3", "#5cb85c", "#d9534f"],
			borderColor: ["#fff", "#fff", "#fff"],
			hoverBorderColor: ["#fff", "#fff", "#fff"],
			borderWidth: 10,
			data: [{{ dip1_count }}, {{ dip2_count }}, {{ dip3_count }}]
		}]
	},
	options: {
		legend: {
			display: true,
			position: 'top',
			labels: {
				fontColor: "#2e3451",
				usePointStyle: true,
				fontSize: 13
			}
		},
		tooltips: {
			backgroundColor: 'rgba(47, 49, 66, 0.8)',
			titleFontSize: 13,
			titleFontColor: '#fff',
			caretSize: 0,
			cornerRadius: 4,
			xPadding: 10,
			displayColors: true,
			yPadding: 10
		}
	}
});

(function ($) {

	'use strict';

	// ------------------------------------------------------- //
	// Delivered Orders
	// ------------------------------------------------------ //
	var randomScalingFactor = function () {
		return (Math.random() > 0.5 ? 1.0 : 1.0) * Math.round(Math.random() * 100);
	};

	Chart.helpers.drawRoundedTopRectangle = function (ctx, x, y, width, height, radius) {
		ctx.beginPath();
		ctx.moveTo(x + radius, y);
		ctx.lineTo(x + width - radius, y);
		ctx.quadraticCurveTo(x + width, y, x + width, y + radius);
		ctx.lineTo(x + width, y + height);
		ctx.lineTo(x, y + height);
		ctx.lineTo(x, y + radius);
		ctx.quadraticCurveTo(x, y, x + radius, y);
		ctx.closePath();
	};

	Chart.elements.RoundedTopRectangle = Chart.elements.Rectangle.extend({
		draw: function () {
			var ctx = this._chart.ctx;
			var vm = this._view;
			var left, right, top, bottom, signX, signY, borderSkipped;
			var borderWidth = vm.borderWidth;

			if (!vm.horizontal) {
				left = vm.x - vm.width / 2;
				right = vm.x + vm.width / 2;
				top = vm.y;
				bottom = vm.base;
				signX = 1;
				signY = bottom > top ? 1 : -1;
				borderSkipped = vm.borderSkipped || 'bottom';
			} else {
				left = vm.base;
				right = vm.x;
				top = vm.y - vm.height / 2;
				bottom = vm.y + vm.height / 2;
				signX = right > left ? 1 : -1;
				signY = 1;
				borderSkipped = vm.borderSkipped || 'left';
			}

			if (borderWidth) {
				var barSize = Math.min(Math.abs(left - right), Math.abs(top - bottom));
				borderWidth = borderWidth > barSize ? barSize : borderWidth;
				var halfStroke = borderWidth / 2;
				var borderLeft = left + (borderSkipped !== 'left' ? halfStroke * signX : 0);
				var borderRight = right + (borderSkipped !== 'right' ? -halfStroke * signX : 0);
				var borderTop = top + (borderSkipped !== 'top' ? halfStroke * signY : 0);
				var borderBottom = bottom + (borderSkipped !== 'bottom' ? -halfStroke * signY : 0);
				if (borderLeft !== borderRight) {
					top = borderTop;
					bottom = borderBottom;
				}
				if (borderTop !== borderBottom) {
					left = borderLeft;
					right = borderRight;
				}
			}

			var barWidth = Math.abs(left - right);
			var roundness = this._chart.config.options.barRoundness || 0.2;
			var radius = barWidth * roundness * 0.2;

			var prevTop = top;

			top = prevTop + radius;
			var barRadius = top - prevTop;

			ctx.beginPath();
			ctx.fillStyle = vm.backgroundColor;
			ctx.strokeStyle = vm.borderColor;
			ctx.lineWidth = borderWidth;

			Chart.helpers.drawRoundedTopRectangle(ctx, left, (top - barRadius + 1), barWidth, bottom - prevTop, barRadius);

			ctx.fill();
			if (borderWidth) {
				ctx.stroke();
			}

			top = prevTop;
		},
	});

	Chart.defaults.roundedBar = Chart.helpers.clone(Chart.defaults.bar);

	Chart.controllers.roundedBar = Chart.controllers.bar.extend({
		dataElementType: Chart.elements.RoundedTopRectangle
	});

	var ctx = document.getElementById("orders").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'roundedBar',
		data: {
			labels: [""],
			datasets: [{
				label: 'Serta Merta',
				data: [{{ dip2_count }}],
				borderColor: "#5d5386",
				backgroundColor: "#5d5386",
				hoverBackgroundColor: "#483d77"
			}, {
				label: 'Berkala',
				data: [{{ dip1_count }}],
				borderColor: "#dc3545",
				backgroundColor: "#dc3545",
				hoverBackgroundColor: "#dc3545"
			}, {
				label: 'Setiap Saat',
				data: [{{ dip3_count }}],
				borderColor: "#08a6c3",
				backgroundColor: "#08a6c3",
				hoverBackgroundColor: "#08a6c3"
			}]
		},
		options: {
			responsive: true,
			barRoundness: 1,
			tooltips: {
				backgroundColor: 'rgba(47, 49, 66, 0.8)',
				titleFontSize: 13,
				titleFontColor: '#fff',
				caretSize: 0,
				cornerRadius: 4,
				xPadding: 5,
				displayColors: false,
				yPadding: 5,
			},
			legend: {
				display: true,
				position: 'bottom',
				labels: {
					fontColor: "#2e3451",
					usePointStyle: true,
					padding: 50,
					fontSize: 13
				}
			},
			scales: {
				xAxes: [{
					barThickness: 20,
					stacked: false,
					gridLines: {
						drawBorder: false,
						display: false
					},
					ticks: {
						display: true
					}
				}],
				yAxes: [{
					stacked: false,
					gridLines: {
						drawBorder: false,
						display: false
					},
					ticks: {
						display: false
					}
				}]
			}
		}
	});

	// ------------------------------------------------------- //
	// Circle Orders
	// ------------------------------------------------------ //
	$('.circle-orders').circleProgress({
		value: 1,
		size: 150,
		startAngle: -Math.PI / 2,
		thickness: 6,
		lineCap: 'round',
		emptyFill: '#e4e8f0',
		fill: {
			gradient: ['#0087a4', '#08a6c3']
		}
	}).on('circle-animation-progress', function (event, progress) {
		$(this).find('.percent-orders').html(Math.round({{ dip_count }} * progress));
	});

	// ------------------------------------------------------- //
	// Top Author
	// ------------------------------------------------------ //
	var ctx = document.getElementById('sales-stats').getContext("2d");

	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: ["02/10", "02/11", "02/12", "02/13", "02/14", "02/15"],
			datasets: [{
				label: "Sales",
				borderColor: '#08a6c3',
				pointRadius: 0,
				pointHitRadius: 5,
				pointHoverRadius: 3,
				pointHoverBorderColor: "#08a6c3",
				pointHoverBackgroundColor: "#08a6c3",
				pointHoverBorderWidth: 3,
				fill: true,
				backgroundColor: '#fff',
				borderWidth: 3,
				data: [10, 6, 14, 8, 12, 10]
			}]
		},
		options: {
			tooltips: {
				backgroundColor: 'rgba(47, 49, 66, 0.8)',
				titleFontSize: 13,
				titleFontColor: '#fff',
				caretSize: 0,
				cornerRadius: 4,
				xPadding: 5,
				displayColors: false,
				yPadding: 5,
			},
			layout: {
				padding: {
					left: 0,
					right: 0,
					top: 0,
					bottom: 0
				}
			},
			legend: {
				display: false
			},
			scales: {
				yAxes: [{
					ticks: {
						display: false,
						beginAtZero: false,
						maxTicksLimit: 2,
					},
					gridLines: {
						drawBorder: false,
						display: false
					}
				}],
				xAxes: [{
					gridLines: {
						drawBorder: false,
						display: false
					},
					ticks: {
						display: false
					}
				}]
			}
		}
	});


})(jQuery);
{% endblock %}