{% extends "account/base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'menu/css/style.css' %}">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="content-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <!-- Sorting -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions">
                        <h4>Menu</h4>
                        <a style="float:right" type="button" href="{% url 'create_menu'%}"
                            class="btn btn-secondary mr-1 mb-2"><i class="la la-rocket"></i>Tambah Menu</a>
                    </div>
                    <div class="widget-body">
                        <div class="table-responsive">
                            <!-- partial:index.partial.html -->
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert bg-gradient-03 no-border" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                        <strong>[BERHASIL]</strong> {{ message }}
                                    </div>        
                                {% else %}
                                    <div class="alert alert-danger alert-dissmissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                        <strong>[GAGAL]</strong> {{ message }}
                                    </div>
                                {% endif %}    
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>
                                        <ul id="tree1">
                                        {% for n in menu %}
                                            <li>
                                            {% if n.haveChild == 1%}
                                                {{ n.nama }}<ul>
                                            {% else %}  
                                                <a href="{% url 'update_menu' n.slug %}">{{ n.nama }}</a></li>
                                            {% endif%}
                                            {% if n.haveChildEndTag > 0 %}
                                                {% if n.haveChildEndTag >= 3 %} </ul></li> {% endif %}
                                                {% if n.haveChildEndTag >= 2 %} </ul></li> {% endif %}
                                                {% if n.haveChildEndTag >= 1 %} </ul></li> {% endif %}  
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </h5>
                                </div>
                                 <div class="col-md-8">
                                    <table id="sorting-table" class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Nama Menu</th>
                                        <th>Link</th>
                                        <th>Path</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for n in showmenu %}
                                    {% if n.is_statis_menu %}
                                    <tr>
                                        <td><span class="text-primary">{{ n.nama }}</span></td>
                                        <td><a href="/{{ n.href }}" target='_blank'><span class="text-primary">{{ n.href }}</span></a></td>
                                        <td><span class="text-primary">{{ n }}</span></td>
                                        <td class="td-actions">
											<center><button class="btn btn-ripple"><a href="{% url 'update_menu' n.slug %}"><i class="la la-edit edit"></i></a></button>
												<button type="submit" class="btn btn-ripple delete-button" data-id="{{n.slug}}">
													<a><i class="la la-close delete"></i></a>
												</button>
											</center>
										</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                                </div>
                            </div>
                        </div>
                        <!-- partial -->
                    </div>
                </div>
            </div>
            <!-- End Sorting -->
        </div>
    </div>
    <!-- End Row -->
</div>
<!-- End Container -->
<a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
</div>
<!-- End Content -->

{% endblock %}

{% block js %}

<link rel="stylesheet" href="{% static 'assets/css/datatables/datatables.min.css' %}">

<!-- Begin Page Vendor Js -->
<script src="{% static 'assets/vendors/js/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/buttons.print.min.js' %}"></script>
<!-- End Page Vendor Js -->
<!-- Begin Page Snippets -->
<script src="{% static 'assets/js/components/notifications/notifications.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'menu/js/script.js' %}"></script>


{% endblock %}

{% block script %}
(function ($) {

'use strict';

// ------------------------------------------------------- //
// Auto Hide
// ------------------------------------------------------ //

$(function () {
$('#sorting-table').DataTable({
"lengthMenu": [
[10, 15, 20, -1],
[10, 15, 20, "All"]
],
"order": [
[3, "desc"]
]
});
});

$(function () {
$('#export-table').DataTable({
dom: 'Bfrtip',
buttons: {
buttons: [{
extend: 'copy',
text: 'Copy',
title: $('h1').text(),
exportOptions: {
columns: ':not(.no-print)'
},
footer: true
},{
extend: 'excel',
text: 'Excel',
title: $('h1').text(),
exportOptions: {
columns: ':not(.no-print)'
},
footer: true
},{
extend: 'csv',
text: 'Csv',
title: $('h1').text(),
exportOptions: {
columns: ':not(.no-print)'
},
footer: true
},{
extend: 'pdf',
text: 'Pdf',
title: $('h1').text(),
exportOptions: {
columns: ':not(.no-print)'
},
footer: true
},{
extend: 'print',
text: 'Print',
title: $('h1').text(),
exportOptions: {
columns: ':not(.no-print)'
},
footer: true,
autoPrint: true
}],
dom: {
container: {
className: 'dt-buttons'
},
button: {
className: 'btn btn-primary'
}
}
}
});
});

})(jQuery);

document.querySelectorAll(".delete-button").forEach(function(button) {
button.addEventListener("click", function(event) {
event.preventDefault();
let dataId = this.getAttribute("data-id");
Swal.fire({
title: 'Apakah Kamu Yakin Akan Hapus Data ini?',
text: "Data yang sudah dihapus tidak dapat dikembalikan lagi",
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#08a6c3',
cancelButtonColor: '#fe195e',
confirmButtonText: 'Yes, delete it!'
}).then((result) => {
if (result.value) {
// submit the form
let deleteForm = document.createElement("form");
deleteForm.setAttribute("method", "POST");
deleteForm.setAttribute("action", `/delete-menu/${dataId}`);
let csrfInput = document.createElement("input");
csrfInput.setAttribute("type", "hidden");
csrfInput.setAttribute("name", "csrfmiddlewaretoken");
csrfInput.setAttribute("value", "{{ csrf_token }}");
deleteForm.appendChild(csrfInput);
document.body.appendChild(deleteForm);
deleteForm.submit();
}
});
});
});

$(document).ready(function () {
$(".tree li a ").click(function () {
$(this).parent().find("ul li").toggle();
$(this).parent().find("ul").toggle();
});
});
{% endblock %}