{% load static %}
<!-- Begin Header -->
<header class="header">
	<nav class="navbar fixed-top">         
		<!-- Begin Search Box-->
		<div class="search-box">
			<button class="dismiss"><i class="ion-close-round"></i></button>
			<form id="searchForm" action="#" role="search">
				<input type="search" placeholder="Search something ..." class="form-control">
			</form>
		</div>
		<!-- End Search Box-->
		<!-- Begin Topbar -->
		<div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
			<!-- Begin Logo -->
			<div class="navbar-header">
				<a href="{% url 'dashboard' %}" class="navbar-brand">
					<div class="brand-image brand-big">
						<img src="{% static 'assets/img/logo.png' %}" alt="logo" class="logo-big">
					</div>
					<div class="brand-image brand-small">
						<img src="{% static 'assets/img/logo.png' %}" alt="logo" class="logo-small">
					</div>
				</a>
				<!-- Toggle Button -->
				<a id="toggle-btn" href="#" class="menu-btn active">
					<span></span>
					<span></span>
					<span></span>
				</a>
				<!-- End Toggle -->
			</div>
			<!-- End Logo -->
			<!-- Begin Navbar Menu -->
			<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
				<!-- Search -->
				<li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="la la-search"></i></a></li>
				<!-- End Search -->
				<!-- User -->
				<li class="nav-item dropdown"><a id="user" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
				<img src="{% static 'assets/img/setting.png' %}" alt="..." class="avatar rounded-circle"></a>
					<ul aria-labelledby="user" class="user-size dropdown-menu">
						<li class="welcome">
							<img src="{% static 'assets/img/avatar-01.png' %}" alt="..." class="">
							<center>{{ user.username }}</center>
						</li>
						<li>
							{% for p in show%}
							<a href="{% url 'profile' pk=p.shortness %}" class="dropdown-item"> 
								Profile
							</a>
							{% endfor %}
						</li>
						<li>
							<a href="{% url 'change-password-view' %}" class="dropdown-item no-padding-bottom"> 
								Settings
							</a>
						</li>
						<li class="separator"></li>
						<li><a rel="nofollow" href="{% url 'logout' %}" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
					</ul>
				</li>
				<!-- End User -->
			</ul>
			<!-- End Navbar Menu -->
		</div>
		<!-- End Topbar -->
	</nav>
</header>
<!-- End Header -->