{% load static %}
<!-- Begin Preloader -->
<div id="preloader">
    <div class="canvas">
        <img src="{% static 'assets/img/logo.png' %}" alt="logo" class="loader-logo">
        <div class="spinner"></div>   
    </div>
</div>
<!-- End Preloader -->