{% load static %}
<!-- Begin Vendor Js -->
<script src="{% static 'assets/vendors/js/base/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/base/core.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/nicescroll/nicescroll.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/noty/noty.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/app/app.js' %}"></script>
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>


<!-- End Vendor Js -->





