{% load static %}

<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li class="{% if request.path == '/dashboard/' %}active{% endif %}"><a href="{% url 'dashboard' %}">
                <i class="la la-dashcube"></i><span>Dashboard</span></a>
            </li>
            <li class="{% if request.path == '/data-ppid/' %}active{% endif %}">
                <a href="#dropdown-app" aria-expanded="{% if request.path == '/data-ppid/' or request.path == '/create-data/'  %}true{% endif %}" 
                    data-toggle="collapse">
                    <i class="la la-puzzle-piece"></i>
                    <span>DIP</span>
                </a>
                <ul id="dropdown-app" class="collapse list-unstyled {% if request.path == '/data-ppid/' or request.path == '/create-data/' %}show{% endif %} pt-0">
                    <li><a class="{% if request.path == '/data-ppid/' %}active{% endif %}" href="{% url 'datappid' %}">Daftar DIP</a></li>
                    {% if request.user.is_superuser or request.user.is_staff  %}
                    <li><a class="{% if request.path == '/data-ppid-tahunan/' %}active{% endif %}" href="{% url 'datappidtahunan' %}">Daftar DIP Tahunan</a></li>
                    {% endif %}
                    <li><a class="{% if request.path == '/create-data/' %}active{% endif %}" href="{% url 'create' %}">Tambah DIP</a></li>
                </ul>
            </li>
            <li class="{% if request.path == '/permohonan/' %}active{% endif %}"><a href="#dropdown-ui" 
            aria-expanded="{% if request.path == '/permohonan/' %}true{% endif %}" data-toggle="collapse"><i class="la la-share-alt"></i>
                <span>Permohonan DIP</span></a>
                <ul id="dropdown-ui" class="collapse list-unstyled {% if request.path == '/permohonan/' %}show{% endif %} pt-0">
                    <li><a class="{% if request.path == '/permohonan/' %}active{% endif %}" href="{% url 'permohonan' %}">Daftar Pemohon</a></li>
                    {% if request.user.is_superuser or request.user.is_staff  %}
                    <li><a href="#">Kategori Pemohon</a></li>
                    <li><a href="#">Aksi Memperoleh Data</a></li>
                    {% endif %}
                </ul>
            </li>
           {% if request.user.is_superuser or request.user.is_staff  %}
            <li class="{% if request.path == '/profil-ppid/' or request.path == '/visimisi-ppid/'  or request.path == '/tugasfungsi-ppid/' or request.path == '/strukturorganisasi-ppid/' or request.path == '/maklumatpelayanan-ppid/' %}active{% endif %}">
            <a href="#profileppid-ui" 
            aria-expanded="{% if request.path == '/profil-ppid/' or request.path == '/visimisi-ppid/'  or request.path == '/tugasfungsi-ppid/' or request.path == '/strukturorganisasi-ppid/' or request.path == '/maklumatpelayanan-ppid/' %}true{% endif %}" 
            data-toggle="collapse"><i class="la la-user"></i><span>Profil PPID</span></a>
                <ul id="profileppid-ui" class="collapse list-unstyled  
                {% if request.path == '/profil-ppid/' or request.path == '/visimisi-ppid/'  or request.path == '/tugasfungsi-ppid/' or request.path == '/strukturorganisasi-ppid/' or request.path == '/maklumatpelayanan-ppid/' %}show{% endif %} pt-0">
                    <li><a class="{% if request.path == '/profil-ppid/' %}active{% endif %}" href="{% url 'profil-ppid' %}">Profil</a></li>
                    <li><a class="{% if request.path == '/tugasfungsi-ppid/' %}active{% endif %}" href="{% url 'tugasfungsi-ppid' %}">Tugas dan Fungsi</a></li>
                    <li><a class="{% if request.path == '/strukturorganisasi-ppid/' %}active{% endif %}" href="{% url 'strukturorganisasi-ppid' %}">Struktur Organisasi</a></li>
                    <li><a class="{% if request.path == '/visimisi-ppid/' %}active{% endif %}" href="{% url 'visimisi-ppid' %}">Visi dan Misi</a></li>
                    <li><a class="{% if request.path == '/maklumatpelayanan-ppid/' %}active{% endif %}" href="{% url 'maklumatpelayanan-ppid' %}">Maklumat Pelayanan</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="la la-columns"></i><span>Slideshow</span></a></li>
            <li><a href="#"><i class="la la-external-link"></i><span>Link Terkait</span></a></li>
            <li><a href="#"><i class="la la-database"></i><span>Data OPD</span></a></li>

        </ul>
        <span class="heading">Menu Website PPID</span>
        <ul class="list-unstyled">
            <li class="{% if request.path == '/menu/' or request.path == '/halaman-statis/' %}active{% endif %}"><a href="#menu-app1" 
            aria-expanded="{% if request.path == '/menu/' or request.path == '/halaman-statis/' %}true{% endif %}" 
            data-toggle="collapse"><i class="la la-trello"></i><span>Menu</span></a>
                <ul id="menu-app1" class="collapse list-unstyled {% if request.path == '/menu/' or request.path == '/halaman-statis/' %}show{% endif %} pt-0">
                    <li><a class="{% if request.path == '/menu/' %}active{% endif %}" href="{% url 'menu' %}">Daftar Menu</a></li>
                    <li><a class="{% if request.path == '/halaman-statis/' %}active{% endif %}" href="{% url 'halaman_statis' %}" href="">Halaman Menu Statis</a></li>
                </ul>
            </li>
        </ul>
        <span class="heading">Laporan PPID</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-app1" aria-expanded="false" data-toggle="collapse"><i class="la la-yelp"></i><span>Laporan Layanan</span></a>
                <ul id="dropdown-app1" class="collapse list-unstyled pt-0">
                    <li><a href="#">Jumlah Permohonan Layanan</a></li>
                    <li><a href="#">Waktu Pemenuhan Layanan</a></li>
                    <li><a href="#">Laporan Layanan DiTerima</a></li>
                    <li><a href="#">Laporan Layanan DiTolak</a></li>
                </ul>
            </li>
        {% endif %}
        </ul>
        <span class="heading">USER</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-authentication" aria-expanded="false" data-toggle="collapse"><i class="la la-gears"></i><span>Profil</span></a>
                <ul id="dropdown-authentication" class="collapse list-unstyled pt-0">
                    {% for p in show %}
                    <li><a href="{% url 'profile' pk=p.shortness %}">Profil Pengguna</a></li>
                    {% endfor %}
                    <li><a href="{% url 'change-password-view' %}">Ubah Password</a></li>
                </ul>
            </li>
            {% if request.user.is_superuser or request.user.is_staff  %}
            <li><a href="#"><i class="la la-gg-circle"></i><span>Kontak</span></a></li>
            {% endif %}
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->