{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'admin/css/layout.css' %}" type="text/css" media="screen" />
<link href="{% static 'admin/datatable/css/dataTables.bootstrap.css' %}" rel="stylesheet" />
<link href="{% static 'admin/datatable/css/lumen-bootstrap.min.css' %}" rel="stylesheet" /> {% endcomment %}

 <!-- Stylesheet -->
<link rel="stylesheet" href="{% static 'assets/vendors/css/base/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/css/base/elisyam-1.5.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl-carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl-carousel/owl.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate/animate.min.css' %}">