{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PPID Login</title>
        <meta name="description" content="Elisyam is a Web App and Admin Dashboard Template built with Bootstrap 4">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Google Fonts -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
          WebFont.load({
            google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
        </script>
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/apple-touch-icon.png' %}">
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'assets/vendors/css/base/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendors/css/base/elisyam-1.5.min.css' %}">

    </head>
    <body class="bg-white">
        <!-- Begin Preloader -->
        <div id="preloader">
            <div class="canvas">
                <img src="{% static 'assets/img/logo.png' %}" alt="logo" class="loader-logo">
                <div class="spinner"></div>   
            </div>
        </div>
        <!-- End Preloader -->
        <!-- Begin Container -->
        <div class="container-fluid no-padding h-100">
            <div class="row flex-row h-100 bg-white">
                <!-- Begin Left Content -->
                <div class="col-xl-8 col-lg-6 col-md-5 no-padding">
                    <div class="elisyam-bg background-01">
                        <div class="elisyam-overlay overlay-01"></div>
                        <div class="authentication-col-content mx-auto">
                            <h1 class="gradient-text-01">
                                Selamat Datang
                            </h1>
                            <span class="description">
                                Di Halaman Login Website PPID Kabupaten Lombok Barat 
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End Left Content -->
                <!-- Begin Right Content -->
                <div class="col-xl-4 col-lg-6 col-md-7 my-auto no-padding">
                    <!-- Begin Form -->
                    <div class="authentication-form mx-auto">
                        <div class="logo-centered">
                            <a href="{% url 'login' %}">
                                <img src="{% static 'assets/img/logo.png' %}" alt="logo">
                            </a>
                        </div>
                        <h3>Masuk Ke Akun PPID</h3>
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dissmissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                <strong>[GAGAL]</strong> Username atau Password Salah
                            </div>                        
                        {% endfor %}
                        
                        <form  class="needs-validation" method="POST"  novalidate>
                            {% csrf_token %}
                            <label>Username</label>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <div class="col-lg-12">
                                    <input type="text" name="username" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Username Tidak Boleh Kosong
                                        <div class="valid-feedback">
                                            (Harus Diisi)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label>Password</label>
                            <div class="form-group row d-flex align-items-center mb-5">
                                <div class="col-lg-12">
                                    <input type="password" name="password" required class="form-control">
                                    <div class="invalid-feedback">
                                        Password Tidak Boleh Kosong
                                        <div class="valid-feedback">
                                            (Harus Diisi)
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        <div class="row">
                            <div class="col text-left">
                                <div class="styled-checkbox">
                                    <input type="checkbox" name="checkbox" id="remeber">
                                    <label for="remeber">Remember me</label>
                                </div>
                            </div>
                            {% comment %} <div class="col text-right">
                                <a href="pages-forgot-password.html">Forgot Password ?</a>
                            </div> {% endcomment %}
                        </div>
                        <div class="sign-btn text-center">
                            <button type="submit" class="btn btn-lg btn-gradient-01">
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
                    <!-- End Form -->                        
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Row -->
        </div>
        <script src="https://code.responsivevoice.org/responsivevoice.js?key=4roX7m1r"></script>
        <script src="https://web.animemusic.us/widget_disabilitas.js"></script>
        <!-- End Container -->    
        <!-- Begin Vendor Js -->
        <script src="{% static 'assets/vendors/js/base/jquery.min.js' %}"></script>
        <script src="{% static 'assets/vendors/js/base/core.min.js' %}"></script>
        <script src="{% static 'assets/js/components/validation/validation.min.js' %}"></script>
        <script src="{% static 'assets/js/components/validation/validation.js' %}"></script>

        <!-- End Vendor Js -->
        <!-- Begin Page Vendor Js -->
        <script src="{% static 'assets/vendors/js/app/app.min.js' %}"></script>
        <!-- End Page Vendor Js -->
    </body>
</html>