{% load static %}
<html>
<head>
	<title>LOGIN PPID</title>
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'login/img/wave.png' %}">
  
	<div class="container">
		<div class="img">
			<img src="{% static 'login/img/login.svg' %}">
		</div>
		<div class="login-content">
			<form method="post">
                {% csrf_token %}
                {% for message in messages %}
                    <label class="alert" value="">{{message}}</label>
                {% endfor %}
				<img src="{% static 'images/logo.png' %}">
                <br>
				<h2 class="title"></h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" name="username" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" name="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" name="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
<script type="text/javascript" src="{% static 'login/js/main.js' %}"></script>
</body>
</html>
