{% load static %}
<!DOCTYPE html>
<html>

  {% block custom-css %}
  <!-- Khusus untuk page backend yg mempunyai datatable -->
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'backend/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'backend/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'backend/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'backend/plugins/datatables/jquery.dataTables.min.css' %}"> -->
{% endblock %}


    {% include 'ppid/snippet/head.html' %}

<body>  
    <div class="fixed-top top-home">
      {% include 'ppid/snippet/top.html' %}
        <div class="container-desktop">
          {% include 'ppid/snippet/menu.html' %}
        </div>
    </div>
    {% include 'ppid/snippet/slideshow.html' %}
    {% block content%}

    {% endblock %}
    
    {% include 'ppid/snippet/footer.html' %}
    {% include 'ppid/snippet/search.html' %}
    {% include 'ppid/snippet/script.html' %}

    <script src="https://code.responsivevoice.org/responsivevoice.js?key=4roX7m1r"></script>
    <script src="https://web.animemusic.us/widget_disabilitas.js"></script>
    
</body>
{% block custom-js %}
{% endblock %}

{% block script %}
{% endblock %}

</html>