{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="breadcrumb">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">DIP</a></li>
    </ul>
    </div>
</div>
<section class="content-blank blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 mb-4">
                <div class="d-flex align-items-center mb-4">
                    <div class="icon-circle rgba-blue">
                        <i class="fa fa-search text-primary"></i>
                    </div>
                    <p class="text-default font-600 mb-0">OPD dan Jumlah Data OPD</p>
                </div>
                <div class="card card-md">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="mb-2">
                            <h6 class="text-capitalize head-title">Daftar Informasi Publik</h6>
                            <p class="head-sub-desc mb-0">Daftar dokumen informasi</p>
                        </div>
                        {% comment %} <div class="mb-2">
                            <a href="http://ppid.kemendagri.go.id/front/member/permohonan/ajukan" class="btn btn-primary btn-lg">Permohonan Informasi</a>
                        </div> {% endcomment %}
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-document-custom" id="example1">
                            
                            <thead>
                                <tr>
                                    <th>OPD</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for opd in opd_count %}
                            <tr>
                                <td>
                                <div class="title"><a href="{% url 'dip_opd' opd.id %}" >{{ opd.title }}</a></div>
                                <div class="small-text">{{ opd.shortness }} </div>
                                <div class="subtitle">{{ opd.jumlah }} Data</div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-12 col-lg-7 mb-4">
            {% include 'ppid/snippet/statistik.html' %}
                <div class="card card-md">
                    <div class="block-highlight block-pd-h block-pd-sm">
                        <h3 class="block-title">
                        <!-- ISI DIP -->
                        <h2 class="block-title">
                            Layanan Pengaduan Masyarakat
                        </h2>
                          <p class="text-fancy">Layanan Pengaduan Masyarakat Kabupaten Lombok Barat adalah sistem aplikasi yang disediakan oleh Pemerintah Kabupaten Lombok Barat bagi masyarakat Lombok Barat Anda yang memiliki informasi dan ingin mengadukan berbagai keluhan terkait pelayanan pemerintahan.</p>
                          <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="stat">
                                <a href="http://sapa.lombokbaratkab.go.id/" target="_blank" class="overlay-wrapper">
                                    <img src="{% static 'images/services/sapa.png' %}">
                                  
                                </a>
                            
                                <small>Sarana Pengaduan dan Aspirasi Langsung..</small>
                            </div>
                        </div>
                        <div class="col-md-4 text-center pull-center" >
                            <div class="stat">
                                <a href="https://lapor.go.id/"   class="overlay-wrapper" target="_blank">
                                    <img src="{% static 'images/services/lapor.png' %}">
                                    <span class="overlay">
                                    <span class="overlay-content"> <span class="h4">lapor.go.id<i class="fa fa-external-link"></i></span> </span>
                                    </span>
                                </a>
                                
                                <h3 class="block-title">
                                Lapor
                                </h3>
                                <small>Layanan Aspirasi dan Pengaduan Online Rakyat</small>
                            </div>
                        </div>
                        <div class="col-md-4 text-center pull-center" >
                            <div class="stat">
                                <a href="http://lombokbaratkab.go.id/kritik-dan-saran/website/"   class="overlay-wrapper" target="_blank">
                                    <img src="{% static 'images/services/webmail.png' %}">
                                    <span class="overlay">
                                    <span class="overlay-content"> <span class="h4">Kirim email<i class="fa fa-external-link"></i></span> </span>
                                    </span>
                                </a>
                                
                                <h3 class="block-title">
                                Webmail
                                </h3>
                                <small>Sampaikan Pengaduan dan Aspirasi Anda Melalui Email</small>
                            </div>
                        </div>
                        <div class="col-md-4 text-center pull-center" >
                            <div class="stat">
                                <a href="#"   class="overlay-wrapper">
                                    <img src="{% static 'images/services/sms.png' %}">
                                    <span class="overlay">
                                    <span class="overlay-content"> <span class="h4">087717041958<i class="fa fa-external-link"></i></span> </span>
                                    </span>
                                </a>
                                
                                <h3 class="block-title">
                                SMS CENTER
                                </h3>
                                <small>Sampaikan Pengaaduan Melaui SMS Center Kabupaten Lombok Barat (087717041958)</small>
                            </div>
                        </div>
                       <div class="col-md-4 text-center pull-center" >
                               <div class="stat">
                              <a href="#"   class="overlay-wrapper" >
                                <img src="{% static 'images/services/saberpungli.png' %}"width="200" height="200" >
                                <span class="overlay">
                                  <span class="overlay-content"> <span class="h4">081999193888<i class="fa fa-external-link"></i></span> </span>
                                </span>
                              </a>
                             <h3 class="block-title">
                               Saber Pungli
                              </h3>
                              <small>SAPU BERSIH PUNGUTAN LIAR, Laporkan Pungli Call/SMS Center (081 999 193 888)</small>
                              
                            </div>
                        </div>
                        <div class="col-md-4 text-center pull-center" >
                            <div class="stat">
                                <a href="https://web.whatsapp.com/send?phone=6281803664064&amp;text=Silahkan Isi Form PPID Dibawah Ini %0A Nama Lengkap %3A%0A Alamat Lengkap %3A%0A Isi Pengaduan %3A"   class="overlay-wrapper" target ="_blank">
                                    <img src="{% static 'images/services/wa.png' %}" alt="Project 1 image" class="img-responsive underlay" width="120" height="120">
                                    <span class="overlay">
                                    <span class="overlay-content"> <span class="h4">Klik Disini<i class="fa fa-external-link"></i></span> </span>
                                    </span>
                                </a>
                                
                                <h3 class="block-title">
                                WhatsApp
                                </h3>
                                <small>Pengaduan Online Melalui WhatsApp</small>
                            </div>
                        </div>
                    </div>
                        <!-- Berkala Serta Merta setiap saat -->
                </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block custom-js %}
<script src="{% static 'datatables/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}
{% block script %}
<script>        
     
  function onclick_export() {      
      $("#modal-export").modal();
  }

  $(function () {
//      getSidebarMenu('client'); // menu sebagai menu yg sedang aktif
     // getBreadcrumbMenu('client');   // Panggil setelah getSidebarMenu
      $("#example1").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "columnDefs": [
              { responsivePriority: 2, targets: 0 },                
          ],
          "buttons": [
          {
              extend:    'copyHtml5',
              text:      '<i class="fas fa-copy"></i>',
              titleAttr: 'Copy ke Clipboard'
          },
          {
              extend: 'excel',
              text: '<i class="fas fa-file-excel"></i>',
              titleAttr: 'Export ke Excel'
          },
          {
              extend: 'pdf',
              text: '<i class="fas fa-file-pdf"></i>',
              titleAttr: 'Export ke PDF'
          },
          {
              extend: 'print',
              text: '<i class="fas fa-print"></i>',
              titleAttr: 'Print data'
          },
      ],     // , "colvis" "copy", "csv", "excel", "pdf", "print",                
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');



      $("#example2").DataTable({   
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "ajax": {
            "url": "/api/datas/", 
            "dataSrc": "",
        },
        columns: [                
            { data: "id" },
            {                    
                data: null,
                defaultContent:'<span class="btn btn-outline-success btn-sm">' +
                    "+" +
                '</span>',
            },   

            { data: "title",  render: function ( data, type, row ) {
                return  '<a href="/DIP-detail/'+ row.id + '?post-id=' +row.id + '">' +
                            data +
                        '</a>';
                }
            },
            { data: "dinas" },
            { data: "responsible" },
            { data: null, render: function ( data, type, row ) {
                return  '<a href="/dip-detail/'+ row.id  + '?post-id=' +row.id + '" class="btn btn-outline-success btn-sm">' +
                            "Lihat Data" +
                        '</a>';
                }
            
            },
        ],
        
        "buttons": [
         
            {   extend: 'copyHtml5',
                text: '<i class="fas fa-copy"></i>',
                titleAttr: 'Copy ke Clipboard'
            },
            {   extend: 'excel',
                text: '<i class="fas fa-file-excel"></i>',
                titleAttr: 'Export ke Excel'
            },
            {   extend: 'pdf',
                text: '<i class="fas fa-file-pdf"></i>',
                titleAttr: 'Export ke PDF'
            },
            {   extend: 'print',
                text: '<i class="fas fa-print"></i>',
                titleAttr: 'Print data'
            },
        ],             // order by parent and order_menu
        //"order": [[3, "asc"], [5, "asc"]], 
        "columnDefs": [                                        
           // { "width": "1%","targets": [1] },           
          // { "width": "2%","targets": [3,4] },                                                                    
           // { "orderable": false, "targets": [4] },                        
            { "targets": [0],
            "visible": false,
            "searchable": false,
            },                
        ],
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');     
  });


</script>

{% endblock %}
 