{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}
 <!-- Khusus untuk page backend yg mempunyai datatable -->
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'datatables/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}

    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Dokumen</a></li>
          <li><a href="#">{{ data.title }}</a></li>
        </ul>
      </div>
    </div>
  
    <section class="content-blank blue-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5 mb-4">
            <div class="d-flex align-items-center mb-4">
              <div class="icon-circle rgba-blue">
                <img src="{% static 'frontend/assets_v1/images/icons/analysis.png' %}" class="img-fluid" alt="" width="20">
              </div>
              <p class="text-default font-600 mb-0">Kandungan Informasi</p>
            </div>
  
            <div class="card mb-4">
              <p class="mb-0">{{ data.information}}</p>
            </div>
            <div class="d-flex align-items-center mb-4">
                <div class="icon-circle rgba-blue">
                    <i class="fa fa-search text-primary"></i>
                </div>
                <p class="text-default font-600 mb-0">OPD dan Jumlah Data OPD</p>
            </div>
            <div class="card card-md">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <div class="mb-2">
                        <h6 class="text-capitalize head-title">Daftar Informasi Publik</h6>
                        <p class="head-sub-desc mb-0">Daftar dokumen informasi</p>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-document-custom" id="example1">
                        
                        <thead>
                            <tr>
                                <th>OPD</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for opd in opd_count %}
                        <tr>
                            <td>
                            <div class="title"><a href="{% url 'dip_opd' opd.id %}" >{{ opd.title }}</a></div>
                            <div class="small-text">{{ opd.shortness }} </div>
                            <div class="subtitle">{{ opd.jumlah }} Data</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <hr>
        </div>
          <div class="col-12 col-lg-7 mb-4">
            <div class="card card-md">
              <div class="d-flex mb-1">
                <div class="d-none d-sm-block head-icon m-t-3">
                  <div class="icon-circle rgba-blue m-r-20">
                    <img src="{% static 'frontend/assets_v1/images/icons/message.png' %}" class="img-fluid" alt="" width="18">
                  </div>
                </div>
                <div>
                  <p class="text-primary font-600 mb-0">{{ data.title }}</p>
                  <span class="fs-13 text-secondary mb-0">
                    <span class="fa fa-calendar">&nbsp  {{ data.date }}</span> &nbsp &nbsp 
                    <span class="fa fa-eye">&nbsp {{ data.view_count }}</span> &nbsp &nbsp 
                    <span class="fa fa-download">&nbsp{{ data.download_count }}</span> &nbsp &nbsp
                  </span>
                </div>
              </div>
  
              <hr>
  
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Kode Dokumen</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">{{ data.code }}</p>
                </div>
              </div>
  
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Tanggal Publish</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">
                    {{ data.date }}</p>
                </div>
              </div>
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Kategori Dokumen</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">{{ data.type_data}}</p>
                </div>
              </div>
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Penerbit</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">{{ data.dinas.title }}</p>
                </div>
              </div>
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Size</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0"> {{ data.size}}</p>
                </div>
              </div>
              <hr>
              <div class="pdf-container">
                <object class="pdf-object">
                  <embed class="pdf-object" src="https://drive.google.com/viewerng/viewer?embedded=true&amp;url=https://{{siteUrl}}{{ data.file.url }}" 
                    type="application/pdf"></embed>
                </object>
              </div>
              <hr>
              <form>
              <a type="button" class="btn btn-primary btn-lg" href="{% url 'download' slug=data.slug %}">Download  <i class="fa fa-download"></i></a>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block custom-js %}
<script src="{% static 'datatables/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}
{% block script %}
<script>        
     
  function onclick_export() {      
      $("#modal-export").modal();
  }

  $(function () {
//      getSidebarMenu('client'); // menu sebagai menu yg sedang aktif
     // getBreadcrumbMenu('client');   // Panggil setelah getSidebarMenu
      $("#example1").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "columnDefs": [
              { responsivePriority: 2, targets: 0 },                
          ],
          "buttons": [
          {
              extend:    'copyHtml5',
              text:      '<i class="fas fa-copy"></i>',
              titleAttr: 'Copy ke Clipboard'
          },
          {
              extend: 'excel',
              text: '<i class="fas fa-file-excel"></i>',
              titleAttr: 'Export ke Excel'
          },
          {
              extend: 'pdf',
              text: '<i class="fas fa-file-pdf"></i>',
              titleAttr: 'Export ke PDF'
          },
          {
              extend: 'print',
              text: '<i class="fas fa-print"></i>',
              titleAttr: 'Print data'
          },
      ],     // , "colvis" "copy", "csv", "excel", "pdf", "print",                
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      $("#example2").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "order": [ 1, "desc" ],
        "columnDefs": [
            { responsivePriority: 2, targets: 0 },                
        ],
        "buttons": [
        {
            extend:    'copyHtml5',
            text:      '<i class="fas fa-copy"></i>',
            titleAttr: 'Copy ke Clipboard'
        },
        {
            extend: 'excel',
            text: '<i class="fas fa-file-excel"></i>',
            titleAttr: 'Export ke Excel'
        },
        {
            extend: 'pdf',
            text: '<i class="fas fa-file-pdf"></i>',
            titleAttr: 'Export ke PDF'
        },
        {
            extend: 'print',
            text: '<i class="fas fa-print"></i>',
            titleAttr: 'Print data'
        },
    ],     // , "colvis" "copy", "csv", "excel", "pdf", "print",                
    }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');


  });


</script>

{% endblock %}
 
 