{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}
 <!-- Khusus untuk page backend yg mempunyai datatable -->
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'datatables/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}

    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Dokumen</a></li>
          <li><a href="#">{{ data.title }}</a></li>
        </ul>
      </div>
    </div>
  
    <section class="content-blank blue-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 mb-4">
            <div class="card card-md">
              <div class="d-flex mb-1">
                <div class="d-none d-sm-block head-icon m-t-3">
                  <div class="icon-circle rgba-blue m-r-20">
                    <img src="{% static 'frontend/assets_v1/images/icons/message.png' %}" class="img-fluid" alt="" width="18">
                  </div>
                </div>
                <div>
                  <span class="fs-13 text-secondary mb-0">Konfirmasi Download File DIP  Kabupaten Lombok Barat</span>
                  <p class="text-primary font-600 mb-0">{{ data.title }}</p>
                </div>
              </div>
  
              <hr>
  
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Kode Dokumen</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">{{ data.code }}</p>
                </div>
              </div>
  
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Tanggal Publish</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">
                    {{ data.date }}</p>
                </div>
              </div>
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Kategori Dokumen</p>
                </div>
  
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">{{ data.type_data}}</p>
                </div>
              </div>
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Nama File</p>
                </div>
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">{{ data.file }}</p>
                </div>
              </div>
              <div class="row m-b-15">
                <div class="col-12 col-sm-3">
                  <p class="mb-0">Size File</p>
                </div>
                <div class="col-12 col-sm-9">
                  <p class="text-default font-600 mb-0">{{ data.size }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 mb-4">
            <div class="d-flex align-items-center mb-4">
              <div class="icon-circle rgba-blue">
                <img src="{% static 'frontend/assets_v1/images/icons/analysis.png' %}" class="img-fluid" alt="" width="20">
              </div>
              <p class="text-default font-600 mb-0">Konfirmasi Download File DIP  Kabupaten Lombok Barat</p>
            </div>
  
            <div class="card mb-4">
                <a href="{{ data.file.url }}" size='50' class="btn btn-primary btn-lg">   <i class="fa fa-download mr-1"></i>Download DIP</a>

            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
 