{% extends "ppid/base.html" %}
{% load static %}
{% block custom-css %}
<!-- Khusus untuk page backend yg mempunyai datatable -->
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'backend/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'backend/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'backend/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<!-- <link rel="stylesheet" href="{% static 'backend/plugins/datatables/jquery.dataTables.min.css' %}"> -->
<style>
  p {
    text-align: justify;
  }
</style>

{% endblock %}
{% block content %}

<section class="content-blank">
  <div class="container">
    <div class="title-section mb-3">
      <h4 class="text-capitalize head-title">Layanan Informasi Publik</h4>
      <p class="head-sub-desc">Klik pada icon untuk melihat detail</p>
    </div>
    <div class="row m-t-70">
      <div class="col-md-4 mb-3">
        <ul class="nav tabs-vertical flex-column" id="myTab" role="tablist">
          <li class="nav-item"> 
            <a class="item active" id="daftar-informasi-publik-tab" data-toggle="tab"
              href="#DaftarInformasiPublik_Tabs" role="tab" aria-controls="DaftarInformasiPublik_Tabs"
              aria-selected="true">
              <div class="head-icon">
                <!-- daftar informasi publik -->
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                    <img src="{% static 'frontend/assets_v1/images/icons/inbox.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <span>Daftar Informasi Publik</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="item" id="permohonan-informasi-tab" data-toggle="tab" href="#PermohonanInformasi_Tabs"
              role="tab" aria-controls="PermohonanInformasi_Tabs" aria-selected="false">
              <div class="head-icon">
                <!-- daftar informasi publik -->
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                  <img src="{% static 'frontend/assets_v1/images/icons/contact.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <span>Formulir Permintaan Informasi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="item" id="laporan-pelayanan-tab" data-toggle="tab" href="#LaporanPelayanan_Tabs" role="tab"
              aria-controls="LaporanPelayanan_Tabs" aria-selected="false">
              <div class="head-icon">
                <!-- daftar informasi publik -->
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                  <img src="{% static 'frontend/assets_v1/images/icons/analysis.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <span>Laporan Permintaan Informasi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="item" id="layanan-kepuasan-masyarakat-tab" data-toggle="tab"
              href="#LayananKepuasanMasyarakat_Tabs" role="tab" aria-controls="LayananKepuasanMasyarakat_Tabs"
              aria-selected="false">
              <div class="head-icon">
                <!-- daftar informasi publik -->
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                  <img src="{% static 'frontend/assets_v1/images/icons/newspaper.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <span>Layanan Kepuasan Masyarakat</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="item" id="daftar-informasi-opd-tab" data-toggle="tab"
              href="#daftar-informasi-opd-tabs" role="tab" aria-controls="daftar-informasi-opd-tabs"
              aria-selected="true">
              <div class="head-icon">
                <!-- daftar informasi publik -->
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                    <img src="{% static 'frontend/assets_v1/images/icons/inbox.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <span>Daftar Organisasi Perangkat Daerah (OPD) </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 mb-3">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="DaftarInformasiPublik_Tabs" role="tabpanel"
            aria-labelledby="daftar-informasi-publik-tab">
            <form method="post" action="{% url 'search' %}" id="form-active">
              {% csrf_token %}
              <h6 class="font-600 mb-3">Daftar Informasi Publik</h6>
              <p>
                Salah satu kewajiban badan publik yang dinyatakan dalam Undang-Undang No 14 Tahun 2008 adalah
                menyediakan Daftar Informasi Publik (DIP). DIP adalah catatan yang berisi keterangan sistematis tentang
                informasi publik yang berada dibawah penguasaan badan publik.
              </p>
               <div class="form-group">
                <div class="row">
                  <div class="col-12 col-md-6 mb-2">
                      <label for="">Judul Informasi</label>
                      <input class="form-control" required="" name="title" placeholder = "Masukkan Judul Data Yang Dicari ...">
                  </div>
                  <div class="col-12 col-md-6 mb-2">
                  <label for="">Kriteria Informasi</label>
                    <select name="searched" class="form-control">
                        <option value="2">Berkala</option>
                        <option value="3">Serta Merta</option>
                        <option value="4">Setiap Saat</option>
                        <option value="5">DiKecualikan  </option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Search  <i class="fa fa-search text-white" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="tab-pane fade" id="PermohonanInformasi_Tabs" role="tabpanel"
          aria-labelledby="permohonan-informasi-tab">
          <h6 class="font-600 mb-3">Formulir Permintaan Informasi</h6>
          <p>
            Setiap orang berhak memperoleh informasi publik sesuai dengan ketentuan Undang-Undang No 14 Tahun 2008.
            Formulir untuk mendapatkkan daftar informasi Publik.
            <hr>
            Sebelum melakukan permintaan DIP silakan lihat semua daftar informasi publik kami yang sudah di 
            upload <a class="badge badge-primary" href="{% url 'DIP' %}">disini</a> atau silakan melakukan pencarian DIP pada menu 
            <span class="badge badge-primary">Daftar Informasi Publik</span> diatas. Jika informasi tidak tersedia silakan anda mengajukan 
            permohonan informasi <a href="{% url 'formrequest' %}" class="badge badge-primary">disini</a> <hr>
            Untuk permintaan secara langsung ke Kantor PPID silakan mengisi formulir yang dapat di 
            <a target="_blank" class="badge badge-primary" href="{% static 'download/formpermintaandata.pdf'%}">download disini</a>
          </p>
          <a href="{% url 'formrequest' %}" class="btn btn-primary">Kunjungi</a>
          <a target="_blank" href="{% static 'download/formpermintaandata.pdf'%}" class="btn btn-primary">Download Form Permintaan Data</a>
        </div>

        <div class="tab-pane fade" id="LaporanPelayanan_Tabs" role="tabpanel"
          aria-labelledby="laporan-pelayanan-tab">
          <h6 class="font-600 mb-3">Laporan Permintaan Informasi</h6>
          <p>
            Peraturan Komisi Informasi No. 1 Tahun 2008 tentang Standar Layanan Informasi Publik menyatakan bahwa
            badan publik memiliki kewajiban membuat dan mengumumkan laporan tentang layanan informasi publik.
          </p>
          <a href="/laporanpermohonan" class="btn btn-primary">Lacak Permintaan Data</a>
        </div>
        <div class="tab-pane fade" id="LayananKepuasanMasyarakat_Tabs" role="tabpanel"
          aria-labelledby="layanan-kepuasan-masyarakat-tab">
          <h6 class="font-600 mb-3">Layanan Kepuasan Masyarakat</h6>
          <p>
          Partisipasi masyarakat untuk ikut mengawasi, memberikan masukan dan saran untuk peningkatan kualitas pelayanan pengelolaan 
          informasi sangat dibutuhkan. Untuk itu Pejabat anggota Pengelola Informasi dan Dokumentasi (PPID) Kabupaten Lombok Barat menyediakan 
          akses informasi publik bagi pemohon informasi sebagai salah satu wujud pelaksanaan keterbukaan informasi publik.
          </p>
          <p>
            Silakan Isi Evaluasi Kepuasan Masyarakat Terhadap Layanan Keterbukaan Informasi Publik Lombok Barat
            </p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9vk55z6xQyS5h-Xu8x0QpA2fTsfsHb-Sh23CMPtbk5p0VSw/viewform" class="btn btn-primary">Kunjungi</a>
        </div>
        <div class="tab-pane fade" id="daftar-informasi-opd-tabs" role="tabpanel"
          aria-labelledby="daftar-informasi-opd-tabs">
          <h6 class="font-600 mb-3">Daftar Organisasi Perangkat Daerah (OPD) Kabupaten Lombok Barat</h6>
          <a href="{% url 'opd' %}" class="btn btn-primary">Kunjungi</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="title-section mb-3">
    <h4 class="text-capitalize head-title">Statistik</h4>
    <p class="head-sub-desc">Informasi statistik dokumen</p>
  </div>
  <div class="card card-lg pd-auto m-t-70">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-4 line-col line-right-push">
        <div class="d-flex align-items-center m-b-50">
          <div>
            <div>
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <h6 class="text-default font-600 mb-4">Statistik Data PPID Kabupaten Lombok Barat</h6>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center m-b-30">
              <div class="head-icon">
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                  <img src="{% static 'frontend/assets_v1/images/icons/inbox.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <div>
                <p class="mb-1">Informasi Berkala</p>
                <h5 class="font-700 mb-0">{{ dip1_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center m-b-30">
              <div class="head-icon">
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                  <img src="{% static 'frontend/assets_v1/images/icons/message.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <div>
                <p class="mb-1">Serta Merta</p>
                <h5 class="font-700 mb-0">{{ dip2_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center m-b-30">
              <div class="head-icon">
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                  <img src="{% static 'frontend/assets_v1/images/icons/avatar.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <div>
                <p class="mb-1">Informasi Setiap Saat</p>
                <h5 class="font-700 mb-0">{{ dip3_count }}</h5>
              </div>
            </div>
          </div>
            <div class="col-12 col-md-6">
            <div class="d-flex align-items-center m-b-30">
              <div class="head-icon">
                <div class="icon-circle cirlce-lg rgba-blue m-r-25">
                  <img src="{% static 'frontend/assets_v1/images/icons/analysis.png' %}" class="img-fluid" alt="" width="25">
                </div>
              </div>
              <div>
                <p class="mb-1">Jumlah Total Dokumen</p>
                <h5 class="font-700 mb-0">{{ dip_count }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<section class="content-blank blue-section pb-0">
  <div class="container">
    <div class="title-section mb-3">
      <h4 class="text-capitalize head-title">Informasi</h4>
      <p class="head-sub-desc">Klik judul informasi untuk melihat</p>
    </div>
    <div class="row m-t-70">
      <div class="col-md-4 mb-4">
        <div class="d-flex align-items-center mb-3">
          <div class="icon-circle rgba-blue">
            <img src="{% static 'frontend/assets_v1/images/icons/newspaper.png' %}" class="img-fluid" alt="" width="20">
          </div>
          <p class="text-default font-600 mb-0">Informasi Terbaru</p>
        </div>
        <div class="card">
          <ul class="list-default">
            {% for s in show %}
            <li>
              <a href="{% url 'detail' slug=s.slug %}">
                <p class="title">{{ s.title }}</p>
                <p class="desc">{{ s.date}}</p>
                <p class="desc">{{ s.dinas }}</p>
              </a>
            </li>
            {% endfor %}
          </ul>
          <hr>
          <a class="btn btn-secondary" href="/DIP">Lihat Semua</a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="d-flex align-items-center mb-3">
          <div class="icon-circle rgba-blue">
            <img src="{% static 'frontend/assets_v1/images/icons/analysis.png' %}" class="img-fluid" alt="" width="20">
          </div>
          <p class="text-default font-600 mb-0">Informasi Paling Banyak Dilihat</p>
        </div>
        <div class="card">
          <ul class="list-default">
             {% for v in view %}
             {% if v.view_count == 0 %}
  
             {% else %}
            <li>
              <a href="{% url 'detail' slug=v.slug %}">
                <p class="title">{{ v.title }}</p>
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <p class="desc">{{ v.date }}</p>
                  <span class="fs-13 text-warning">
                    {{ v.view_count }} x</span>
                  </div>
                <p class="desc">{{ v.dinas }}</p>
              </a>
            </li>
            {% endif %}
  
            {% endfor %} 
          </ul>
          <hr>
          <a class="btn btn-secondary" href="{% url 'dip_read' %}">Lihat Semua</a>
        </div>  
      </div>
      <div class="col-md-4 mb-4">
        <div class="d-flex align-items-center mb-3">
          <div class="icon-circle rgba-blue">
            <img src="{% static 'frontend/assets_v1/images/icons/download.png' %}" class="img-fluid" alt="" width="20">
          </div>
          <p class="text-default font-600 mb-0">Informasi Paling Banyak Di Download</p>
        </div>
        <div class="card">
          <ul class="list-default">
             {% for d in download %}
             {% if d.download_count == 0 %}
  
             {% else %}
            <li>
              <a href="{% url 'detail' slug=d.slug %}">
                <p class="title">{{ d.title }}</p>
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <p class="desc">{{ d.date }}</p>
                  <span class="fs-13 text-warning">
                    {{ d.view_count }} x</span>
                  </div>
                <p class="desc">{{ d.dinas }}</p>
              </a>
            </li>
            {% endif %}
  
            {% endfor %} 
          </ul>
          <hr>
          <a class="btn btn-secondary" href="{% url 'dip_download' %}">Lihat Semua</a>
        </div>  
      </div>
    </div>
  </div>
  </section>

<section class="content-blank">
  <div class="container">
    <div class="title-section mb-3">
      <h4 class="text-capitalize head-title">Alur Permohonan</h4>
    </div>
    <div class="row m-t-70">
      <div class="col-md-12">
        {% for s in slide  %}
        <p class="alert-primary"><a href="{{ s.image_url4|default_if_none:'/static/imgnotfound/permohonan.png' }}" target="_blank"><center><img src="{{ s.image_url4|default_if_none:'/static/imgnotfound/permohonan.png' }}"  class="img-responsive img-thumbnail pull-center m-l m-b"></center></p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="content-blank blue-section pb-0">
  <div class="container">
    <div class="title-section mb-3">
      <h4 class="text-capitalize head-title">Jam Pelayanan Informasi</h4>
    </div>
    <div class="row m-t-70">
      <div class="col-md-12">
        {% for s in slide  %}
        <div class="block block-pd-sm block-bg-grey-dark block-bg-overlay block-bg-overlay-6 text-center" data-block-bg-img="images/bil.jpg?q=40&amp;w=1650&amp;sharp=30" data-stellar-background-ratio="0.3">
            <p class="text-fancy"><a href="{{ s.image_url3|default_if_none:'/static/imgnotfound/jam.png' }}" target="_blank"><img src="{{ s.image_url3|default_if_none:'/static/imgnotfound/jam.png' }}" class="img-responsive img-thumbnail pull-center m-l m-b"></a></p>		
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="content-blank blue-section">
  <div class="container">
    <div class="card card-lg">
        <div class="row justify-content-between mt-3">
          <div class="col-12 col-md-2 line-col line-far">
            <h6 class="text-primary font-600 mb-3">Link Terkait</h6>
          </div>
          <div class="col-12 col-md-9">
            {% for l in link %}
            <a href="{{ l.href }}"><img title="{{ l.title }}" src="{{ l.image.url }}" width="{{ l.width }}" height="{{ l.height }}"></a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</section>

{% comment %} <img src="{% static 'frontend/assets_v1/images/icons/miring-biru.png' %}" class="img-fluid m-b-150 mt-n-1" alt=""> {% endcomment %}
{% endblock %}

{% block custom-js %}

<script src="{% static 'frontend/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'frontend/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'frontend/chart/chart.js' %}"></script>

{% endblock %}

{% block script %}

    
<script>

  function form_submit() {
      document.getElementById("form-active").submit();
  }

  $(function () {
      $('#form-active').validate({
          rules: {
              title: {
                  required: true,
                  minlength: 3
              },
          },
          messages: {
              title: {
                  required: "Silahkan masukkan Title",     
                  minlength: "Title harus terdiri paling sedikit 3 karakter"
              },
          },                        
          errorElement: 'span',
          errorPlacement: function (error, element) {
              error.addClass('invalid-feedback');
              element.closest('.form-group').append(error);
          },
          highlight: function (element, errorClass, validClass) {
              $(element).addClass('is-invalid');
          },
          unhighlight: function (element, errorClass, validClass) {
              $(element).removeClass('is-invalid');
          }
      });
  });

  const data = {
    labels: [
      'Berkala',
      'Serta Merta',
      'Setiap Saat'
    ],
    datasets: [{
      label: 'My First Dataset',
      data: [{{ dip1_count }}, {{ dip2_count }}, {{ dip3_count }}],
      backgroundColor: [
        'rgb(54, 162, 235)',
        'rgb(25, 199, 132)',
        'rgb(255, 205, 86)'
      ],
      hoverOffset: 4
    }]
  };
  
    const config = {
      type: 'pie',
      data: data,
      options: {}
    };
  
     const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
</script>
    


{% endblock %}


