{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="breadcrumb">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Permohonan Informasi</a></li>
      </ul>
    </div>
  </div>
<section class="content-blank blue-section">
    <div class="container">
      <div class="card card-md">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <div class="mb-2">
            <h6 class="text-capitalize head-title">Laporan Pelayanan Informasi</h6>
            <p class="head-sub-desc mb-0">Daftar laporan pelayanan yang telah diajukan</p>
          </div>
        </div>
        <hr>
        <div class="table-responsive">
            Sebelum melakukan permintaan DIP silakan lihat semua daftar informasi publik kami yang sudah di 
            upload <a class="badge badge-primary" href="{% url 'DIP' %}">disini</a> atau silakan melakukan pencarian DIP pada tombol
            <span class="badge badge-primary"><i class="fa fa-search social" aria-hidden="true"></i> Pencarian Data</span> diatas. Jika informasi tidak tersedia silakan anda mengajukan 
            permohonan informasi <a href="{% url 'formrequest' %}" class="badge badge-primary">disini</a> <hr>
            Untuk permintaan secara langsung ke Kantor PPID silakan mengisi formulir yang dapat di 
            <a target="_blank" class="badge badge-primary" href="{% static 'download/formpermintaandata.pdf'%}">download disini</a>
          </p>
          <a href="{% url 'formrequest' %}" class="btn btn-primary">Kunjungi</a>
          <a target="_blank" href="{% static 'download/formpermintaandata.pdf'%}" class="btn btn-primary">Download Form Permintaan Data</a>
          <hr>
          {% for s in slide  %}
          <p class="alert-primary"><a href="{{ s.image_url4|default_if_none:'/static/imgnotfound/permohonan.png' }}" target="_blank"><center><img src="{{ s.image_url4|default_if_none:'/static/imgnotfound/permohonan.png' }}"  class="img-responsive img-thumbnail pull-center m-l m-b"></center></p>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="card card-md">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <div class="mb-2">
            <h6 class="text-capitalize head-title">Lacak Permintaan Data</h6>
            <p class="head-sub-desc mb-0">Daftar laporan pelayanan yang telah diajukan</p>
          </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="all">Name</th>
                        <th class="all">Tanggal</th>                                    
                        <th>Tujuan Permintaan Data :</th>
                        <th>Rincian :</th>
                        <th class="all">Keterangan</th>
                        <th class="all">Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Tanggal</th>                                    
                        <th>Tujuan Permintaan Data</th>
                        <th>Rincian</th>
                        <th>Keterangan</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block custom-js %}
<script src="{% static 'datatables/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}
{% block script %}
<script>
    $(function () {     
        
        $("#example1").DataTable({   
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "ajax": {
                "url": "/api/permohonan/", 
                "dataSrc": "",
            },
            columns: [                
                { data: "id" },
                        
                { data: "name", render: function ( data, type, row ) {
                    return  '<button class="btn btn-outline-success btn-sm">' +
                                data +
                            '</button>';
                    }
                },
                { data: "date" },
                { data: "purpose" },
                { data: "detail" },
                { data: "action" },
                { data: "status", render: function ( data, type, row ) {
                    if (data == "Diberikan"){
                    return  '<span class="badge badge-green">' +
                                data +
                            '</span>';
                        }
                    else if ( data == "Ditolak"){
                        return  '<span class="badge badge-danger">' +
                            data +
                        '</span>';
                    }
                    else {
                        return  '<span class="badge badge-warning">' +
                            data +
                        '</span>';
                    }
                    } 
                },

            ],
            
            "buttons": [
             
                {   extend: 'copyHtml5',
                    text: '<i class="fas fa-copy"></i>',
                    titleAttr: 'Copy ke Clipboard'
                },
                {   extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'Export ke Excel'
                },
                {   extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    titleAttr: 'Export ke PDF'
                },
                {   extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    titleAttr: 'Print data'
                },
            ],             // order by parent and order_menu
            //"order": [[3, "asc"], [5, "asc"]], 
            "columnDefs": [                                        
                { "width": "1%","targets": [1] },           
              // { "width": "2%","targets": [3,4] },                                                                    
               // { "orderable": false, "targets": [4] },                        
                { "targets": [0],
                "visible": false,
                "searchable": false,
                },                
            ],
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');                                    
    
    });    

</script>    


{% endblock %}
 