{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}
 <!-- Khusus untuk page backend yg mempunyai datatable -->
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'datatables/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}

    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'permohonan' %}">Form Permohonan</a></li>
        </ul>
      </div>
    </div>
  
    <section class="content-blank blue-section">
      <div class="container">
        <div class="card card-lg">
          <h5 class="text-capitalize head-title">Form Permohonan Data</h5>
          <p class="head-sub-desc">Silahkan masukan data diri Anda</p>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">{{ message }}</a>
              </div>
            {% endfor %}
          {% endif %}
            <form method="POST" enctype="multipart/form-data" id="form-active">
            {% csrf_token %}
            <div class="row justify-content-between mt-3">
              <div class="col-12 col-md-5 line-col line-far">
                <div class="form-group">
                  <label for="">Nama</label>
		            {{form.name}}
                </div>
                <div class="form-group">
                    <label for="">Kategory</label>
                      {{form.kategory_pemohon}}
                  </div>
                  <div class="form-group">
                      {{form.dinas}}
                  </div>
                  <div class="form-group">
                    <label for="">Alamat</label>
                    {{form.address}}
                  </div>
                  <div class="form-group">
                    <label for="">Telp</label>
                    {{form.telp}}
                  </div>
                  <div class="form-group">
                    <label for="">Email</label>
                    {{form.email}}
                  </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="">KTP</label>
                    {{form.ktp}}
                </div>
                <div class="form-group">
                    <label for="">Tujuan</label>
                    {{form.purpose}}
                </div>
                <div class="form-group">
                    <label for="">Detail</label>
                    {{form.detail}}
                </div>
                <div class="form-group">
                    <label for="">Action</label>
                    {{form.action}}
                </div>
                <div class="form-group">
                    {{form.status}}
                </div>
           
              </div>
              
            </div>
            <hr>
            <div class="col-12 col-md-5">
              <div class="card">
                <label>Captcha</label>
                <div class="form-group">
                  {{form.captcha}}
                </div>
              </div>
            </div>
            <hr>
            <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-primary" type="submit">SUBMIT</button>
              </div>
          </form>
        </div>
      </div>
    </section>

{% endblock %}
{% block custom-js %}

<script src="{% static 'frontend/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'frontend/jquery-validation/additional-methods.min.js' %}"></script>

{% endblock %}

{% block script %}

    
<script>

  function form_submit() {
      document.getElementById("form-active").submit();
  }

  $(function () {
      $('#form-active').validate({
          rules: {
              name: {
                  required: true,
                  minlength: 3
              },
              kategory_pemohon: {
                required: true,
              },
              dinas: {
                required: true,
              },
              telp: {
                required: true,
                minlength: 8
              },
              email: {
                required: true,
                email: true,
              },
              purpose: {
                required: true,
              },
              ktp: {
                required: true,
                extension: "jpg|jpeg|png|pdf",
              },
              action: {
                required: true,
              },
          },
          messages: {
              name: {
                  required: "Silahkan masukkan nama",     
                  minlength: "Nama kas harus terdiri paling sedikit 3 karakter"
              },
              kategory_pemohon: {
                required: "Silahkan Pilih Kategori",     
              },
              dinas: {
                required: "Silahkan Pilih Dinas",     
              },
              telp: {
                required: "Silahkan Masukkan Nomor Telp atau Nomor HP",
                minlength: "Nomor Telp dan Nomor HP harus terdiri paling sedikit 8 karakter"
              },
              email: {
                required: "Silahkan Masukkan Email",
                email: "Silahkan Masukkan Email dengan Benar",
              },
              purpose: {
                required: "Silahkan Masukkan Tujuan Permintaan Data",
              },
              ktp: {
                required: "Silahkan Upload KTP",     
                extension: "Extension yang diperbolehkan hanya JPG, JPEG , PNG dan PDF",
                accept: "Extension yang diperbolehkan hanya JPG, JPEG, PNG dan PDF"
              },
              action: {
                required: "Silahkan Pilih Aksi yang diinginkan",
              },
          },                        
          errorElement: 'span',
          errorPlacement: function (error, element) {
              error.addClass('invalid-feedback');
              element.closest('.form-group').append(error);
          },
          highlight: function (element, errorClass, validClass) {
              $(element).addClass('is-invalid');
          },
          unhighlight: function (element, errorClass, validClass) {
              $(element).removeClass('is-invalid');
          }
      });
  });
</script>
    
{% endblock %}
 