{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}
 <!-- Khusus untuk page backend yg mempunyai datatable -->
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'datatables/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
   
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'profileppid' %}">Profil</a></li>
        </ul>
      </div>
    </div>
    <section class="content-blank blue-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5 mb-4">
            <div class="d-flex align-items-center mb-4">
              <div class="icon-circle rgba-blue">
                <img src="{% static 'frontend/assets_v1/images/icons/newspaper.png' %}" class="img-fluid" alt="" width="20">
              </div>
              <p class="text-default font-600 mb-0">Informasi</p>
            </div>
            <ul class="nav tabs-vertical small-list without-primary flex-column" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="item active" id="informasi-profil-tab" data-toggle="tab" href="#InformasiProfil_Tabs" role="tab"
                  aria-controls="InformasiProfil_Tabs" aria-selected="true">
                  <div class="head-icon">
                    <div class="tabs-icon">
                      <img src="{% static 'frontend/assets_v1/images/icons/building.png' %}" class="img-fluid" alt="" width="50">
                    </div>
                  </div>
                  <span>Profil</span>
                </a>
              </li>
               <li class="nav-item">
                <a class="item" id="informasi-tugaswewenang-tab" data-toggle="tab" href="#InformasiTugasWewenang_Tabs"
                  role="tab" aria-controls="InformasiTugasWewenang_Tabs" aria-selected="false">
                  <div class="head-icon">
                    <div class="tabs-icon">
                      <img src="{% static 'frontend/assets_v1/images/icons/clipboard.png' %}" class="img-fluid" alt="" width="50">
                    </div>
                  </div>
                  <span>Tugas dan Fungsi</span>
                </a>
              </li>
  
              <li class="nav-item">
                <a class="item" id="informasi-struktur-tab" data-toggle="tab" href="#InformasiStruktur_Tabs" role="tab"
                  aria-controls="InformasiStruktur_Tabs" aria-selected="false">
                  <div class="head-icon">
                    <div class="tabs-icon">
                      <img src="{% static 'frontend/assets_v1/images/icons/diagram.png' %}" class="img-fluid" alt="" width="50">
                    </div>
                  </div>
                  <span>Struktur Organisasi</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="item" id="informasi-visimisi-tab" data-toggle="tab" href="#InformasiVisimisi_Tabs" role="tab"
                  aria-controls="InformasiVisimisi_Tabs" aria-selected="false">
                  <div class="head-icon">
                    <div class="tabs-icon">
                      <img src="{% static 'frontend/assets_v1/images/icons/about-us.png' %}" class="img-fluid" alt="" width="50">
                    </div>
                  </div>
                  <span>Visi dan Misi</span>
                </a>
              </li>
  
              <li class="nav-item">
                <a class="item" id="informasi-visi-tab" data-toggle="tab" href="#InformasiVisi_Tabs" role="tab"
                  aria-controls="InformasiVisi_Tabs" aria-selected="false">
                  <div class="head-icon">
                    <div class="tabs-icon">
                      <img src="{% static 'frontend/assets_v1/images/icons/target.png' %}" class="img-fluid" alt="" width="50">
                    </div>
                  </div>
                  <span>Maklumat Pelayanan</span>
                </a>
              </li>
            </ul>
            <div class="d-flex align-items-center mb-4">
              <div class="icon-circle rgba-blue">
                  <i class="fa fa-search text-primary"></i>
              </div>
              <p class="text-default font-600 mb-0">OPD dan Jumlah Data OPD</p>
          </div>
          <div class="card card-md">
              <div class="d-flex flex-wrap align-items-center justify-content-between">
                  <div class="mb-2">
                      <h6 class="text-capitalize head-title">Daftar Informasi Publik</h6>
                      <p class="head-sub-desc mb-0">Daftar dokumen informasi</p>
                  </div>
                  {% comment %} <div class="mb-2">
                      <a href="http://ppid.kemendagri.go.id/front/member/permohonan/ajukan" class="btn btn-primary btn-lg">Permohonan Informasi</a>
                  </div> {% endcomment %}
              </div>
              <hr>
              <div class="table-responsive">
                  <table class="table table-document-custom" id="example1">
                      
                      <thead>
                          <tr>
                              <th>OPD</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for opd in opd_count %}
                      <tr>
                          <td>
                          <div class="title"><a href="{% url 'dip_opd' opd.id %}" >{{ opd.title }}</a></div>
                          <div class="small-text">{{ opd.shortness }} </div>
                          <div class="subtitle">{{ opd.jumlah }} Data</div>
                          </td>
                      </tr>
                      {% endfor %}
                  </table>
              </div>
          </div>
          <hr>
          </div>
          <div class="col-12 col-lg-7 mb-4">
            <div class="tab-content" id="myTabContent">
              <div style="overflow: auto;" class="tab-pane fade show active" id="InformasiProfil_Tabs" role="tabpanel" aria-labelledby="informasi-profil-tab" >
                <div class="heading-blue-rgba with-line mt-1 mb-4"><span>Profil</span></div>
                {% for p in profil  %}
                <div class="card card-md">
                  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                  text-align:center;line-height:normal'><b><span style='font-size:19.0pt;
                  font-family:"Bookman Old Style","serif"'>{{ p.title }}
                  </span></b><b><span
                  style='font-size:19.0pt;font-family:"Bookman Old Style","serif"'> </span></b></p>
                  <hr>
                  <p class=MsoNormal style='text-align:justify'><span style='font-size:12.0pt;
                    line-height:107%;font-family:"Bookman Old Style","serif"'>{{ p.description|safe }}<a name="_GoBack"></a></span></p>
                </div>
                {% endfor %}
              </div>
              <div class="tab-pane fade" id="InformasiTugasWewenang_Tabs" role="tabpanel" aria-labelledby="informasi-tugaswewenang-tab">
                <div class="heading-blue-rgba with-line mt-1 mb-4"><span>Tugas dan Wewenang</span></div>
                {% for t in tugas  %}
                <div class="card card-md">
                  <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                  text-align:center;line-height:normal'><b><span style='font-size:19.0pt;
                  font-family:"Bookman Old Style","serif"'>{{ t.title }}
                  </span></b><b><span style='font-size:19.0pt;font-family:"Bookman Old Style","serif"'> </span></b></p>
                  <p align=center>{{ t.perda }}</p>
                  <hr>
                  <p class=MsoNormal style='text-align:justify'><span style='font-size:12.0pt;
                    line-height:107%;font-family:"Bookman Old Style","serif"'>{{ t.description|safe }}<a name="_GoBack"></a></span></p>
                </div>
                {% endfor %}
              </div>
              <div class="tab-pane fade" id="InformasiStruktur_Tabs" role="tabpanel"aria-labelledby="informasi-struktur-tab">
                <div class="heading-blue-rgba with-line mt-1 mb-4"><span>Struktur Organisasi</span></div>
                <div class="card card-md">
                  {% for o in organisasi  %}
                  <div class="card card-md">
                    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                    text-align:center;line-height:normal'><b><span style='font-size:19.0pt;
                    font-family:"Bookman Old Style","serif"'>{{ o.title }}
                    </span></b><b><span style='font-size:19.0pt;font-family:"Bookman Old Style","serif"'> </span></b></p>
                    <hr>
                    <p class="text-fancy">
                      <img src="{{ o.image_url|default_if_none:'/static/imgnotfound/organisasi.png' }}" class="img-responsive img-thumbnail pull-centerm-l m-b">
                      </p>
                  </div>
                  {% endfor %}
                          
                </div>
              </div>
              <div class="tab-pane fade" id="InformasiVisimisi_Tabs" role="tabpanel"aria-labelledby="informasi-visimisi-tab">
                <div class="heading-blue-rgba with-line mt-1 mb-4"><span>Visi dan Misi</span></div>
                <div class="card card-md">
                  {% for v in misivisi  %}
                  <div class="card card-md">
                    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                    text-align:center;line-height:normal'><b><span style='font-size:19.0pt;
                    font-family:"Bookman Old Style","serif"'>{{ v.title }}
                    </span></b><b><span style='font-size:19.0pt;font-family:"Bookman Old Style","serif"'> </span></b></p>
                    <hr>
                    <p class=MsoNormal style='text-align:justify'><span style='font-size:12.0pt;
                      line-height:107%;font-family:"Bookman Old Style","serif"'>{{ v.description|safe }}<a name="_GoBack"></a></span></p>
                  </div>
                  {% endfor %}
                          
                </div>
              </div>
              <div class="tab-pane fade" id="InformasiVisi_Tabs" role="tabpanel" aria-labelledby="informasi-visi-tab">
                <div class="heading-blue-rgba with-line mt-1 mb-4"><span>Maklumat Pelayanan</span></div>
                <div class="card card-md">
                  {% for m in maklumat  %}
                  <div class="card card-md">
                    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                    text-align:center;line-height:normal'><b><span style='font-size:19.0pt;
                    font-family:"Bookman Old Style","serif"'>{{ m.title }}
                    </span></b><b><span style='font-size:19.0pt;font-family:"Bookman Old Style","serif"'> </span></b></p>
                    <hr>
                    <p class="text-fancy">
                      <img src="{{ m.image_url|default_if_none:'/static/imgnotfound/maklumat.png' }}" class="img-responsive img-thumbnail pull-centerm-l m-b">
                      </p>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="tab-pane fade" id="InformasiTentangPPID_Tabs" role="tabpanel" aria-labelledby="informasi-tentangppid-tab">
                <div class="heading-blue-rgba with-line mt-1 mb-4"><span>Regulasi Keterbukaan Informasi Publik</span></div>
                <div class="card card-md">
                  
                                
                </div>
              </div>
            </div>
          </div>
          
        {% comment %} end rows {% endcomment %}
        </div>
        {% comment %} end rows {% endcomment %}
      </div>
      </section>
{% endblock %}
{% block custom-js %}
<script src="{% static 'datatables/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}
{% block script %}
<script>        
     
  function onclick_export() {      
      $("#modal-export").modal();
  }

  $(function () {
//      getSidebarMenu('client'); // menu sebagai menu yg sedang aktif
     // getBreadcrumbMenu('client');   // Panggil setelah getSidebarMenu
      $("#example1").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "columnDefs": [
              { responsivePriority: 2, targets: 0 },                
          ],
          "buttons": [
          {
              extend:    'copyHtml5',
              text:      '<i class="fas fa-copy"></i>',
              titleAttr: 'Copy ke Clipboard'
          },
          {
              extend: 'excel',
              text: '<i class="fas fa-file-excel"></i>',
              titleAttr: 'Export ke Excel'
          },
          {
              extend: 'pdf',
              text: '<i class="fas fa-file-pdf"></i>',
              titleAttr: 'Export ke PDF'
          },
          {
              extend: 'print',
              text: '<i class="fas fa-print"></i>',
              titleAttr: 'Print data'
          },
      ],     // , "colvis" "copy", "csv", "excel", "pdf", "print",                
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

  });
</script>
{% endblock %}
