{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="breadcrumb">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Search Dokumen</a></li>
    </ul>
    </div>
</div>
<section class="content-blank blue-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mb-4">
                <div class="d-flex align-items-center mb-4">
                    <div class="icon-circle rgba-blue">
                        <i class="fa fa-search text-primary"></i>
                    </div>
                    <p class="text-default font-600 mb-0">Pencarian</p>
                </div>
                <div class="card card-md mb-4">
                    <form method="post" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Kategori</label>
                            <select name="searched" id="category" class="form-control">
                                <option value="2" selected>Berkala</option>
                                <option value="3" >Serta Merta</option>
                                <option value="4" >Setiap Saat</option>
                            </select>
                        </div>
                        <input type="hidden" name="area" value="kemendagri" />
                        <div class="form-group">
                            <label for="">Judul</label>
                            <input type="text" name="title" required id="field-search" class="form-control" aria-describedby="helpId">
                        </div>
                        <hr>
                    <button class="btn btn-primary btn-md w-100 mb-2" type="submit">Cari Dokumen</button>
                    <button class="btn btn-secondary btn-md w-100" type="reset">Reset</button>
                    </form>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="icon-circle rgba-blue">
                        <i class="fa fa-bar-chart text-primary" aria-hidden="true"></i>
                    </div>
                    <p class="text-default font-600 mb-0">Statistik</p>
                </div>
                <div class="card mb-4">
                    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                        <p class="text-default font-600 mb-0">Berkala</p>
                        <p class="mb-0">{{ dip1_count}}</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                        <p class="text-default font-600 mb-0">Serta Merta</p>
                        <p class="mb-0">{{ dip2_count }}</p>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                        <p class="text-default font-600 mb-0">Setiap Saat</p>
                        <p class="mb-0">{{ dip3_count }}</p>
                    </div>
                    <hr>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <p class="text-primary font-600 mb-0">Total Informasi Publik</p>
                        <p class="mb-0">{{ dip_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 mb-4">
                <div class="card card-md">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="mb-2">
                            <h6 class="text-capitalize head-title">Daftar Informasi Publik</h6>
                            <p class="head-sub-desc mb-0">Daftar dokumen informasi</p>
                        </div>
                        {% comment %} <div class="mb-2">
                            <a href="http://ppid.kemendagri.go.id/front/member/permohonan/ajukan" class="btn btn-primary btn-lg">Permohonan Informasi</a>
                        </div> {% endcomment %}
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-document-custom" id="example1">
                            
                            <thead>
                                <tr>
                                    <th>Judul Dokumen Informasi</th>
                                    <th>Tampilkan</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for d in datas %}
                            <tr>
                                <td>
                                <div class="title">{{ d }}</div>
                                <div class="subtitle">{{ d.dinas.title }}</div>
                                <div class="small-text">{{ d.date }} | {{ d.type_data}} | </div>
                                </td>
                                <td class="align-middle"><a class="btn btn-primary" href="{% url 'detail' slug=d.slug %}" class="font-600">Lihat</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block custom-js %}
<script src="{% static 'datatables/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}
{% block script %}
<script>        
     
  function onclick_export() {      
      $("#modal-export").modal();
  }

  $(function () {
//      getSidebarMenu('client'); // menu sebagai menu yg sedang aktif
     // getBreadcrumbMenu('client');   // Panggil setelah getSidebarMenu
      $("#example1").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "columnDefs": [
              { responsivePriority: 2, targets: 0 },                
          ],
          "buttons": [
          {
              extend:    'copyHtml5',
              text:      '<i class="fas fa-copy"></i>',
              titleAttr: 'Copy ke Clipboard'
          },
          {
              extend: 'excel',
              text: '<i class="fas fa-file-excel"></i>',
              titleAttr: 'Export ke Excel'
          },
          {
              extend: 'pdf',
              text: '<i class="fas fa-file-pdf"></i>',
              titleAttr: 'Export ke PDF'
          },
          {
              extend: 'print',
              text: '<i class="fas fa-print"></i>',
              titleAttr: 'Print data'
          },
      ],     // , "colvis" "copy", "csv", "excel", "pdf", "print",                
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>

{% endblock %}
 