{% extends "ppid/base-content.html" %}
{% load static %}
{% block custom-css %}
 <!-- Khusus untuk page backend yg mempunyai datatable -->
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'datatables/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}

    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'permohonan' %}">Form Permohonan</a></li>
        </ul>
      </div>
    </div>
  
    <section class="content-blank blue-section">
      <div class="container">
        <div class="card card-lg">
          <div class="alert alert-success" role="alert">
            <h5 class="text-capitalize head-title">Data Berhasil Dikirim</h5>
            <p class="head-sub-desc">Silahkan Periksa Data Informasi Secara Berkala</p>
          </div>
          <div class="row justify-content-between mt-3">
            <div class="col-12 col-md-5 line-col line-far">

            </div>
            <div class="col-12 col-md-6">
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
{% block custom-js %}

<script src="{% static 'frontend/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'frontend/jquery-validation/additional-methods.min.js' %}"></script>

{% endblock %}