{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="content-inner">
	<div class="container-fluid">
		<!-- Begin Page Header-->
		<div class="row">
			<div class="page-header">
				<div class="d-flex align-items-center">
					<h2 class="page-header-title">Maklumat Pelayanan PPID Kabupaten Lombok Barat</h2>
					<div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
							<li class="breadcrumb-item active">Maklumat Pelayanan</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<div class="alert bg-gradient-03 no-border" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
						<strong>[BERHASIL]</strong> {{ message }}
					</div>        
				{% endfor %}
			</ul>
		{% endif %}
                           
		<div class="row">
			<div class="col-xl-12">
				<!-- Sorting -->
				<div class="widget has-shadow">
					<div class="widget-header bordered no-actions">
						<h4>Maklumat Pelayanan</h4>
					</div>
					<div class="widget-body">
						<div class="table-responsive">
							<table id="sorting-table" class="table mb-0">
								<thead>
									<tr>
										<th>Judul</th> 
										<th>Struktur Organisasi</th> 
										<th>Edit Halaman</th> 
									</tr>
								</thead>
								<tbody>
								{% for datas in showProfil %}
									<tr>
										<td><span class="badge-text badge-text-small info">{{ datas.title}}</span></td>
										<td><span class="text-primary"><img src="{{ datas.file.url }}" width="500px"></span></td>
										<td class="td-actions">
											<center><button class="btn btn-ripple"><a href="{% url 'update' datas.id %}"><i class="la la-edit edit"></i></a></button></center>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- End Sorting -->
			</div>
		</div>
		<!-- End Row -->
	</div>
	<!-- End Container -->

	<a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
</div>
<!-- End Content -->

{% endblock %}

{% block js %}

<link rel="stylesheet" href="{% static 'assets/css/datatables/datatables.min.css' %}">

 <!-- Begin Page Vendor Js -->
<script src="{% static 'assets/vendors/js/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendors/js/datatables/buttons.print.min.js' %}"></script>
<!-- End Page Vendor Js -->
<!-- Begin Page Snippets -->
<script src="{% static 'assets/js/components/notifications/notifications.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- End Page Snippets -->


{% endblock %}

{% block script %}
(function ($) {

	'use strict';

	// ------------------------------------------------------- //
	// Auto Hide
	// ------------------------------------------------------ //	

	$(function () {
		$('#sorting-table').DataTable({
			"lengthMenu": [
				[10, 15, 20, -1],
				[10, 15, 20, "All"]
			],
			"order": [
				[3, "desc"]
			]
		});
	});

	$(function () {
		$('#export-table').DataTable({
			dom: 'Bfrtip',
			buttons: {
				buttons: [{
					extend: 'copy',
					text: 'Copy',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'excel',
					text: 'Excel',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'csv',
					text: 'Csv',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'pdf',
					text: 'Pdf',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true
				},{
					extend: 'print',
					text: 'Print',
					title: $('h1').text(),
					exportOptions: {
						columns: ':not(.no-print)'
					},
					footer: true,
					autoPrint: true
				}],
				dom: {
					container: {
						className: 'dt-buttons'
					},
					button: {
						className: 'btn btn-primary'
					}
				}
			}
		});
	});

})(jQuery);

 document.querySelectorAll(".delete-button").forEach(function(button) {
        button.addEventListener("click", function(event) {
            event.preventDefault(); 
            let dataId = this.getAttribute("data-id");
            Swal.fire({
                title: 'Apakah Kamu Yakin Akan Hapus Data ini?',
                text: "Data yang sudah dihapus tidak dapat dikembalikan lagi",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#08a6c3',
                cancelButtonColor: '#fe195e',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    // submit the form
                    let deleteForm = document.createElement("form");
                    deleteForm.setAttribute("method", "POST");
                    deleteForm.setAttribute("action", `/delete-data/${dataId}`);
                    let csrfInput = document.createElement("input");
                    csrfInput.setAttribute("type", "hidden");
                    csrfInput.setAttribute("name", "csrfmiddlewaretoken");
                    csrfInput.setAttribute("value", "{{ csrf_token }}");
                    deleteForm.appendChild(csrfInput);
                    document.body.appendChild(deleteForm);
                    deleteForm.submit();
                }
            });
        });
    });
{% endblock %}